<ul class="blog__list">
  <li class="blog__item">
    <div class="blog__img-wrapp">
      <img src="./img/blog/1.jpg" alt="" class="cover" />
      <div class="blog__bg-up">
        <a href="/article-page.html" class="blog__link">
          <span>Читати статтю</span>
          <img src="./img/icon/right-bolt.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="blog__content">
      <p class="blog__desc">28.04.2024 | 7 хвs</p>
      <h3 class="blog__subtitle">
        <a href="/article-page.html">Заголовок</a>
      </h3>
      <p class="blog__text text">
        Enim lorem proin in cursus. Volutpat bibendum mattis semper semper
        euismod. Dictum aliquam a neque dolor ultrices lorem amet metus.
      </p>
    </div>
  </li>
  <li class="blog__item">
    <div class="blog__img-wrapp">
      <img src="./img/blog/1.jpg" alt="" class="cover" />
      <div class="blog__bg-up">
        <a href="/article-page.html" class="blog__link">
          <span>Читати статтю</span>
          <img src="./img/icon/right-bolt.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="blog__content">
      <p class="blog__desc">28.04.2024 | 7 хвs</p>
      <h3 class="blog__subtitle">
        <a href="/article-page.html">Заголовок</a>
      </h3>
      <p class="blog__text text">
        Enim lorem proin in cursus. Volutpat bibendum mattis semper semper
        euismod. Dictum aliquam a neque dolor ultrices lorem amet metus.
      </p>
    </div>
  </li>
  <li class="blog__item">
    <div class="blog__img-wrapp">
      <img src="./img/blog/1.jpg" alt="" class="cover" />
      <div class="blog__bg-up">
        <a href="/article-page.html" class="blog__link">
          <span>Читати статтю</span>
          <img src="./img/icon/right-bolt.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="blog__content">
      <p class="blog__desc">28.04.2024 | 7 хвs</p>
      <h3 class="blog__subtitle">
        <a href="/article-page.html">Заголовок</a>
      </h3>
      <p class="blog__text text">
        Enim lorem proin in cursus. Volutpat bibendum mattis semper semper
        euismod. Dictum aliquam a neque dolor ultrices lorem amet metus.
      </p>
    </div>
  </li>
  <li class="blog__item">
    <div class="blog__img-wrapp">
      <img src="./img/blog/1.jpg" alt="" class="cover" />
      <div class="blog__bg-up">
        <a href="/article-page.html" class="blog__link">
          <span>Читати статтю</span>
          <img src="./img/icon/right-bolt.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="blog__content">
      <p class="blog__desc">28.04.2024 | 7 хвs</p>
      <h3 class="blog__subtitle">
        <a href="/article-page.html">Заголовок</a>
      </h3>
      <p class="blog__text text">
        Enim lorem proin in cursus. Volutpat bibendum mattis semper semper
        euismod. Dictum aliquam a neque dolor ultrices lorem amet metus.
      </p>
    </div>
  </li>
  <li class="blog__item">
    <div class="blog__img-wrapp">
      <img src="./img/blog/1.jpg" alt="" class="cover" />
      <div class="blog__bg-up">
        <a href="/article-page.html" class="blog__link">
          <span>Читати статтю</span>
          <img src="./img/icon/right-bolt.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="blog__content">
      <p class="blog__desc">28.04.2024 | 7 хвs</p>
      <h3 class="blog__subtitle">
        <a href="/article-page.html">Заголовок</a>
      </h3>
      <p class="blog__text text">
        Enim lorem proin in cursus. Volutpat bibendum mattis semper semper
        euismod. Dictum aliquam a neque dolor ultrices lorem amet metus.
      </p>
    </div>
  </li>
  <li class="blog__item">
    <div class="blog__img-wrapp">
      <img src="./img/blog/1.jpg" alt="" class="cover" />
      <div class="blog__bg-up">
        <a href="/article-page.html" class="blog__link">
          <span>Читати статтю</span>
          <img src="./img/icon/right-bolt.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="blog__content">
      <p class="blog__desc">28.04.2024 | 7 хвs</p>
      <h3 class="blog__subtitle">
        <a href="/article-page.html">Заголовок</a>
      </h3>
      <p class="blog__text text">
        Enim lorem proin in cursus. Volutpat bibendum mattis semper semper
        euismod. Dictum aliquam a neque dolor ultrices lorem amet metus.
      </p>
    </div>
  </li>
</ul>
