<section class="industry body-wrapp-page">
  <div class="container">
    <div class="industry__body">
      <div class="industry__info sectuon-info">
        <h2 class="industry__title sub-title">Галузі</h2>
        <p class="sectuon-info__text text">
          <b>Fleximp Analytics</b> спеціалізується на наданні послуг для
          різноманітних галузей, зокрема:
        </p>
      </div>
      <div class="industry__wrapp">
        <ul class="industry__list">
          <li id="pharmaceutical" class="industry__item">
            <div class="industry__img-wrapp">
              <img src="./img/industries/1.jpg" alt="" class="cover" />
            </div>
            <div class="industry__content">
              <h3 class="industry__subtitle">Фармацевтична галузь</h3>
              <div class="industry__text-box">
                <p class="industry__text">
                  Пропонуємо наші послуги для фармацевтичної галузі, де ми маємо
                  значний досвід та юридичну експертизу. Наша команда
                  спеціалістів розробляє вебсайти та впровадила успішні
                  стратегії маркетингу та аналізу даних на території України,
                  Польщі, Румунії, Болгарії, Хорватії, Молдови та Сербії.
                </p>
                <p class="industry__text">
                  Завдяки багаторічному досвіду в цій галузі, ми допомагаємо
                  нашим клієнтам збільшити обсяги продажів та вирішувати
                  індивідуальні бізнес-питання. Ми надаємо сервіс з урахуванням
                  чинного законодавства та специфіки фармацевтичного сектору,
                  щоб ви могли бути впевнені у їхній ефективності та
                  відповідності стандартам.
                </p>
              </div>
            </div>
          </li>
          <li id="ecommerce" class="industry__item">
            <div class="industry__img-wrapp">
              <img src="./img/industries/2.jpg" alt="" class="cover" />
            </div>
            <div class="industry__content">
              <h3 class="industry__subtitle">E-commerce</h3>
              <div class="industry__text-box">
                <p class="industry__text">
                  Наші послуги для онлайн-торгівлі призначені допомогти
                  компаніям залучати нових клієнтів та підвищувати конверсію. Ми
                  розробляємо та впроваджуємо стратегії маркетингу та аналітики,
                  які дають змогу збільшити обсяги продажів та розширити
                  аудиторію.
                </p>
                <p class="industry__text">
                  Наш підхід базується на глибокому розумінні потреб та
                  поведінки онлайн-клієнтів, що дає можливість нам створювати
                  ефективні та прибуткові стратегії для кожного клієнта.
                </p>
              </div>
            </div>
          </li>
          <li id="logistics" class="industry__item">
            <div class="industry__img-wrapp">
              <img src="./img/industries/3.jpg" alt="" class="cover" />
            </div>
            <div class="industry__content">
              <h3 class="industry__subtitle">Логістика</h3>
              <div class="industry__text-box">
                <p class="industry__text">
                  Ми співпрацюємо з компаніями у сфері логістики, де допомагаємо
                  впроваджувати цифрові рішення для оптимізації логістичних
                  процесів, автоматизації обліку та забезпечення ефективності
                  операцій.
                </p>
                <p class="industry__text">
                  Наші послуги спрямовані на покращення робочих процесів та
                  зменшення витрат у сфері складської логістики, транспортування
                  та управління запасами. Ми пропонуємо індивідуальний підхід до
                  кожного клієнта, максимально враховуючи його потреби та
                  вимоги.
                </p>
              </div>
            </div>
          </li>
          <li id="gdpr" class="industry__item">
            <div class="industry__img-wrapp">
              <img src="./img/industries/4.jpg" alt="" class="cover" />
            </div>
            <div class="industry__content">
              <h3 class="industry__subtitle">Послуги з дотримання GDPR</h3>
              <div class="industry__text-box">
                <p class="industry__text">
                  Наша компанія надає послуги з дотримання Загального регламенту
                  із захисту даних (GDPR), згідно з стандартами EC. Ме
                  допомагаємо підприємствам розробляти та впроваджувати
                  стратегії збору, обробки та захисту персональних даних згідно
                  з вимогами законодавства.
                </p>
                <p class="industry__text">
                  Ми розробляємо та впроваджуємо комплексні заходи для
                  забезпечення конфіденційності та безпеки даних, що дає змогу
                  нашим клієнтам працювати з повною впевненістю в їхній безпеці
                  та відповідності нормативним вимогам. Ми надаємо послуги
                  спеціалістів по захисту персональних даних (DPO) для наших
                  клієнтів, як в Україні, так і в Євросоюзі.
                </p>
              </div>
            </div>
          </li>
        </ul>
        <div class="industry__btn-wrapp">
          <button
            type="button"
            data-target="footer"
            class="industry__btn btn-def ankor"
          >
            Замовити консультацію
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
