<header class="header">
  <div class="container">
    <div class="header__body">
      <a href="./index.html" class="header__logo">
        <img src="./img/icons/logo.svg" alt="AION" />
      </a>

      <div class="header__nav">
        <load src="partials/header/parts/nav.html" />
      </div>

      <a href="#" class="header__btn btn-def">Get Started</a>

      <button class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>

  <load src="partials/header/parts/burger.html" />
</header>
