<section id="about" class="about-us body-wrapp">
  <div class="container">
    <div class="about-us__body">
      <div class="about-us__content">
        <h2 class="about-us__title sub-title">Про нас</h2>
        <div class="about-us__text-wrapp">
          <p class="about-us__text text">
            <b>Fleximp</b> — це компанія яка допомагає клієнту впровадити
            сучасні діджітал технології в їх щоденну роботу з 2016 року.
            Ми спеціалізуємся на розробці веб-сайтів, діджитал маркетингу,
            впровадженні бізнес-аналітиці та індивідуальних цифрових рішеннях
            для підприємств таких як ERP, CRM, BI.
          </p>
          <p class="about-us__text text">
            Ми зарекомендували себе як експерти у фармацевтичній галузі,
            логістиці, державних установах, банківській сфері. Наша місія —
            перевищувати очікування клієнтів, передбачаючи їхні потреби
            та надаючи інноваційн та діджіталі рішень для бізнесів.
          </p>
        </div>
        <button type="button" data-target="footer" class="about-us__btn btn-def ankor">
          Замовити консультацію
        </button>
        <ul class="about-us__list">
          <li class="about-us__item">
            <p class="about-us__number static-number">20+</p>
            <p class="about-us__text static-text text">Виконаних проєктів</p>
          </li>
          <li class="about-us__item">
            <p class="about-us__number static-number">10+</p>
            <p class="about-us__text static-text text">Задоволених клієнтів</p>
          </li>
          <li class="about-us__item">
            <p class="about-us__number static-number">8+</p>
            <p class="about-us__text static-text text">Років досвіду</p>
          </li>
        </ul>
      </div>
      <ul class="about-us__advant-list">
        <li class="about-us__advant-item">
          <span>01</span>
          <p>
            Гнучкість до потреб клієнтів та відповідальність при виконанні
            завдань.
          </p>
        </li>
        <li class="about-us__advant-item">
          <span>02</span>
          <p>Ми прагнемо, щоб наші клієнти отримали більше, ніж очікують.</p>
        </li>
        <li class="about-us__advant-item">
          <span>03</span>
          <p>Ми підходимо індивідуально до кожного проекту.</p>
        </li>
      </ul>
      <div class="about-us__btn-wrapp">
        <button type="button" data-target="footer" class="about-us__btn about-us__btn-mob btn-def ankor">
          Замовити консультацію
        </button>
      </div>
    </div>
  </div>
</section>
