<section id="vacancies" class="employees body-wrapp">
  <div class="container">
    <div class="employees__body">
      <div class="employees__info sectuon-info">
        <h2 class="employees_title sub-title">Ми шукаємо співробітників</h2>
        <p class="employees__text sectuon-info__text">
          Ми завжди шукаємо талановитих професіоналів, які розділяють нашу
          пристрасть до інновацій та досконалості. Ознайомтеся з нашими
          поточними вакансіями та зробіть наступний крок у вашій кар'єрі разом
          з нами.
        </p>
      </div>
      <ul class="employees__list">
        <li class="employees__item">
          <h3 class="employees__subtitle">JavaScript Software Developer</h3>
          <p class="employees__descript">
            Ми завжди шукаємо талановитих професіоналів, які розділяють нашу
            пристрасть до інновацій та досконалості.
          </p>
          <a href="/vacancies-page.html" class="employees__link">
            <span>Full Time | Remote</span>
            <img src="./img/icon/right-bolt.svg" alt="" />
          </a>
        </li>
        <li class="employees__item">
          <h3 class="employees__subtitle">JavaScript Software Developer</h3>
          <p class="employees__descript">
            Ми завжди шукаємо талановитих професіоналів, які розділяють нашу
            пристрасть до інновацій та досконалості.
          </p>
          <a href="/vacancies-page.html" class="employees__link">
            <span>Full Time | Remote</span>
            <img src="./img/icon/right-bolt.svg" alt="" />
          </a>
        </li>
        <li class="employees__item">
          <h3 class="employees__subtitle">JavaScript Software Developer</h3>
          <p class="employees__descript">
            Ми завжди шукаємо талановитих професіоналів, які розділяють нашу
            пристрасть до інновацій та досконалості.
          </p>
          <a href="/vacancies-page.html" class="employees__link">
            <span>Full Time | Remote</span>
            <img src="./img/icon/right-bolt.svg" alt="" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section> 
