<section id="platform" class="platform body-wrapp">
  <div class="container">
    <div class="platform__body">
      <div class="platform__box">
        <div class="platform__content">
          <h2 class="platform__title sub-title">
            Наша платформа FlexPro Waves
          </h2>
          <div class="platform__text-wrapp">
            <p class="platform__text text">
              <b>FlexPro Waves</b> це платформа яка об'єднує поток даних
              з різноманітних ресурсів, оброблених програмними методами
              системної автоматизації що дозволяє топ менеджменту приймати
              рішення на основі об'єктивних чинників.
            </p>
            <p class="platform__text text">
              Наша платформа спеціалізується на аналізі даних та просуванні
              продуктів у фармацевтичній галузі, і вона має ряд переваг,
              що роблять її корисною для наших клієнтів:
            </p>
          </div>
          <div class="platform__img-wrapp platform__img-mob">
            <img src="./img/platform/platform.jpg" alt="" class="cover" />
          </div>
          <ul class="platform__list">
            <li class="platform__item">
              <p>
                <span>Миттєва аналітика:</span> Наша платформа забезпечує
                щоденний доступ до найактуальніших даних, що дозволяє нашим
                клієнтам оперативно приймати стратегічні рішення.
              </p>
            </li>
            <li class="platform__item">
              <p>
                <span>Персоналізовані рішення:</span> Ми пропонуємо
                індивідуальні підходи до кожного клієнта, розробляючи рішення,
                які точно відповідають їхнім потребам та завданням.
              </p>
            </li>
            <li class="platform__item">
              <p>
                <span>Інтегровані інструменти:</span> Наша платформа поєднує
                в собі широкий спектр інструментів для аналізу даних,
                маркетингових досліджень та просування продуктів, що забезпечує
                повністю інтегрований підхід до розвитку бізнесу.
              </p>
            </li>
            <li class="platform__item">
              <p>
                <span>Система звітності та моніторингу:</span> Наша платформа
                надає зручні та деталізовані звіти, які допомагають клієнтам
                відслідковувати результати своїх дій та вчасно коригувати
                стратегії.
              </p>
            </li>
          </ul>
        </div>
        <div class="platform__img-wrapp">
          <img src="./img/platform/platform.jpg" alt="" class="cover" />
        </div>
      </div>
      <div class="platform__btn-wrapp">
        <button type="button" data-target="footer" class="platform__btn btn-def ankor">
          Замовити консультацію
        </button>
      </div>
    </div>
  </div>
</section>
