<section id="team" class="team body-wrapp">
  <div class="container">
    <div class="team__body">
      <div class="team__info sectuon-info">
        <h2 class="team_title sub-title">Наша команда</h2>
        <p class="team__text sectuon-info__text">
          Познайомтеся з відданою командою, яка стоїть за успіхами
          <b>Fleximp</b>:
        </p>
      </div>
      <ul class="team__list">
        <li class="team__item">
          <div class="team__img-wrapp">
            <img src="./img/team/1.jpg" alt="" class="cover" />
          </div>
          <div class="team__info-team">
            <p class="team__name">Андрій Ловін</p>
            <p class="team__info-descript">
              CEO, візіонер, лідер з великим досвідом у бізнесу.
            </p>
          </div>
        </li>
        <li class="team__item">
          <div class="team__img-wrapp">
            <img src="./img/team/1.jpg" alt="" class="cover" />
          </div>
          <div class="team__info-team">
            <p class="team__name">Іван Трачук</p>
            <p class="team__info-descript">
              СТО, майстер технологій з досвідом у розробці аналітичних цифрових
              екосистем для державних установ, великого ритейлу і
              фармакологічного бізнесу.
            </p>
          </div>
        </li>
        <li class="team__item">
          <div class="team__img-wrapp">
            <img src="./img/team/1.jpg" alt="" class="cover" />
          </div>
          <div class="team__info-team">
            <p class="team__name">Дмитро Кутовий</p>
            <p class="team__info-descript">Експерт з реклами</p>
          </div>
        </li>
        <li class="team__item">
          <div class="team__img-wrapp">
            <img src="./img/team/1.jpg" alt="" class="cover" />
          </div>
          <div class="team__info-team">
            <p class="team__name">Володимир Петренко</p>
            <p class="team__info-descript">
              Координатор та лід маркетингових проектів — експерт у галузі
              маркетингу з понад 10-річним досвідом у розробці стратегій
              та комунікацій. Експерт з маркетингу на порталі Дія.Бізнес.
            </p>
          </div>
        </li>
        <li class="team__item">
          <div class="team__img-wrapp">
            <img src="./img/team/1.jpg" alt="" class="cover" />
          </div>
          <div class="team__info-team">
            <p class="team__name">Олена</p>
            <p class="team__info-descript">
              Дизайнерка — наш креативний геній, що створює дизайни
              з винахідливістю та енергією.
            </p>
          </div>
        </li>
        <li class="team__item">
          <div class="team__img-wrapp">
            <img src="./img/team/1.jpg" alt="" class="cover" />
          </div>
          <div class="team__info-team">
            <p class="team__name">Андрій</p>
            <p class="team__info-descript">
              Досвідчений розробник, що перетворює ідеї на функціональні
              діджитал рішення.
            </p>
          </div>
        </li>
        <li class="team__item">
          <div class="team__img-wrapp">
            <img src="./img/team/1.jpg" alt="" class="cover" />
          </div>
          <div class="team__info-team">
            <p class="team__name">Вікторія</p>
            <p class="team__info-descript">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis,
              quaerat!
            </p>
          </div>
        </li>
        <li class="team__item">
          <div class="team__img-wrapp">
            <img src="./img/team/1.jpg" alt="" class="cover" />
          </div>
          <div class="team__info-team">
            <p class="team__name">Ксенія</p>
            <p class="team__info-descript">
              Технічна підтримка — відданна експертка нашої команди,
              що забезпечує безперебійну роботу та вирішує технічні проблеми.
            </p>
          </div>
        </li>
      </ul>
      <div class="team__btn-wrapp">
        <a href="#" class="team__link link-def">Дивитися всіх</a>
        <button type="button" class="team__btn btn-def">
          Приєднатися до нашої команди
        </button>
      </div>
    </div>
  </div>
</section>
