body {
  /* Colors */
  --cm1: #fff;
  --cm2: #adadad;
  --cm3: #e6e6e6;

  --cb1: #09111e;
  --cb2: #00adee;
  --cb3: #101825;

  --cd1: #eaecf0;

  --rg1: rgba(0, 173, 238, 0.08);
  --rg2: rgba(22, 164, 217, 0.2);
  --rg3: rgba(22, 164, 217, 0.15);
  --rg4: rgba(146, 192, 204, 1);

  --lg1: linear-gradient(90deg, #fff 0%, #00adee 70%);
  --lg2: linear-gradient(
    147deg,
    rgba(141, 141, 236, 0.17) 45.74%,
    rgba(84, 84, 212, 0) 86.05%
  );
  --lg3: linear-gradient(
    90deg,
    rgba(146, 192, 204, 1) 0%,
    rgba(0, 109, 148, 1) 47%
  );

  --bs1: 0.125rem 0 0.313rem rgba(66, 68, 90, 1);
  --bs2: 0 0.5rem 1.438rem -0.188rem rgba(0, 173, 238, 1);

  /* Fonts */
  --ffm: "Inter", sans-serif;
}

@media screen and (max-width: 960px) {
  body {
    /* Colors */
    --cb1: #09121f;
  }
}
