<section class="projects body-wrapp-page">
  <div class="container">
    <div class="projects__body">
      <a href="./portfolio-page.html" class="link-back">
        <img src="./img/icon/left.svg" alt="" />
        <span>Всі проєкти</span>
      </a>
      <div class="projects__content">
        <div class="projects__box">
          <h3 class="projects__title sub-title">International Arms Ukraine</h3>
          <div class="projects__img-wrap projects__img-mobal">
            <img src="./img/portfolio/1.jpg" alt="" class="cover" />
          </div>
          <div class="projects__info-box">
            <p class="projects__text text">
              Elementum mauris amet adipiscing ipsum enim ornare viverra sit
              elementum. Sit ac euismod amet platea est pharetra molestie purus
              cursus. Aliquet arcu egestas felis tincidunt platea sed. Magna
              semper arcu et adipiscing elementum. Egestas viverra eu platea
              bibendum ac in ullamcorper scelerisque tellus. Habitant turpis
              purus aliquet placerat vitae tempor. Faucibus id habitant egestas
              faucibus. Turpis est arcu integer eget. Imperdiet faucibus
              vestibulum dui morbi gravida. Ultrices diam pharetra aliquet morbi
              ornare dis vulputate massa.
            </p>
            <p class="projects__text text">
              Elementum mauris amet adipiscing ipsum enim ornare viverra sit
              elementum. Sit ac euismod amet platea est pharetra molestie purus
              cursus. Aliquet arcu egestas felis tincidunt platea sed. Magna
              semper arcu et adipiscing elementum. Egestas viverra eu platea
              bibendum ac in ullamcorper scelerisque tellus. Habitant turpis
              purus aliquet placerat vitae tempor. Faucibus id habitant egestas
              faucibus. Turpis est arcu integer eget. Imperdiet faucibus
              vestibulum dui morbi gravida. Ultrices diam pharetra aliquet morbi
              ornare dis vulputate massa.
            </p>
          </div>
        </div>
        <div class="projects__img-wrap">
          <img src="./img/portfolio/1.jpg" alt="" class="cover" />
        </div>
      </div>
      <button
        type="button"
        data-target="footer"
        class="projects__btn btn-def ankor"
      >
        Замовити консультацію
      </button>
    </div>
  </div>
</section>
