.projects {
	&__body {
	}
	&__content {
		margin-top: 3.12rem;
		display: flex;
		justify-content: space-between;
		margin-bottom: 3.12rem;
	}
	&__box {
		width: 37.5rem;
	}
	&__title {
		color: #91b3fa;
		text-decoration-line: underline;
		margin-bottom: 1rem;
	}
	&__info-box {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	&__text {
	}
	&__img-wrap {
		width: 40rem;
		height: 31.875rem;
		position: relative;
	}
	&__img-mobal {
		display: none;
	}
	&__btn {
	}
}

@media screen and (max-width: 960px) {
	.projects {
		&__content {
			margin: 1.88rem 0;
			flex-direction: column;
			justify-content: start;
		}
		&__box {
			width: 100%;
		}
		&__title {
			margin-bottom: 1.25rem;
		}
		&__img-wrap {
			display: none;
		}
		&__img-mobal {
			display: block;
			width: 100%;
			height: auto;
			padding-top: 60%;
			margin-bottom: 1.88rem;
		}
		&__btn {
			display: flex;
			justify-content: center;
		}
	}
}
@media screen and (max-width: 680px) {
	.projects {
	}
}
@media screen and (max-width: 500px) {
	.projects {
	}
}
