<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <div class="footer__top">
        <a href="./index.html" class="footer__logo">
          <img src="./img/icons/logo.svg" alt="AION" />
        </a>

        <h3 class="footer__title">Worldwide Stock Exchange</h3>

        <p class="footer__text">
          Revolutionizing the 106 Trillion dollar equities markets by blurring
          the lines between Synthetic and Real on-chain ownership.
        </p>
      </div>

      <div class="footer__bottom">
        <ul class="footer__list">
          <li class="footer__item">
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="footer__soc"
            >
              <img src="./img/icons/soc_1.svg" alt="Twitter" />
            </a>
          </li>
          <li class="footer__item">
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="footer__soc"
            >
              <img src="./img/icons/soc_2.svg" alt="Discord" />
            </a>
          </li>
          <li class="footer__item">
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="footer__soc"
            >
              <img src="./img/icons/soc_3.svg" alt="Telegram" />
            </a>
          </li>
        </ul>

        <p class="footer__rights">
          Aionic Systems LLC © 2024 | All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>
