<footer id="footer" class="footer">
  <div class="container">
    <div class="footer__body">
      <div class="footer__above">
        <div class="footer__info">
          <h2 class="footer__title sub-title">
            Бажаєте дізнатися більше або розпочати співпрацю?
          </h2>
          <p class="footer__text text">
            Заповніть нашу контактну форму, і ми допоможемо втілити ваші ідеї в
            реальність.
          </p>
        </div>
        <form class="footer__form submitForm">
          <input type="hidden" name="form_subject" value="Форма відправлена" />
          <input type="hidden" name="admin_email" value="dmitriw@i.ua" />
          <label for="name">
            <input
              name="name"
              type="text"
              id="name"
              data-required="true"
              class="footer__input"
              placeholder="Ваше ім’я*"
            />
          </label>
          <label for="email">
            <input
              name="email"
              type="email"
              id="email"
              data-required="true"
              class="footer__input"
              placeholder="Пошта*"
            />
          </label>
          <label for="number">
            <input
              name="number"
              type="tel"
              id="number"
              data-required="true"
              class="footer__input"
              placeholder="Контактний номер*"
            />
          </label>
          <div class="form__bottom">
            <label class="checkbox">
              <input type="checkbox" data-required="true" name="agree" />
              <p>
                <span
                  >Я даю згоду на обробку моїх персональних даних.
                  <br />Ознайомитись з
                  <a href="/policy-page.html">Private Policy</a>.
                </span>
              </p>
            </label>
            <button type="submit" class="footer__btn btn-def">
              Зв’язатись з нами
            </button>
          </div>
        </form>
      </div>
      <div class="footer__under">
        <div class="footer__direction">
          <a href="./index.html" class="custom-logo-link">
            <img src="./img/icon/logo.svg" alt="" />
          </a>
          <div class="footer__content">
            <ul class="footer__list">
              <li class="menu-item menu-item-has-children">
                <a href="#footer" class="header__menu-link header-text">
                  Наші контакти
                </a>
                <ul class="sub-menu">
                  <li>
                    <a
                      href="mailto:ivan.trachuk@fleximp.com"
                      class="header-text"
                    >
                      ivan.trachuk@fleximp.com
                    </a>
                  </li>
                  <li>
                    <a href="tel:380503560737" class="header-text">
                      +380503560737
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://maps.app.goo.gl/dxjbgBepBaQgaq7U7"
                      class="header-text"
                    >
                      Ukraine, Kyiv
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="footer__list">
              <li class="menu-item menu-item-has-children">
                <a
                  href="/about-page.html"
                  class="header__menu-link header-text"
                >
                  Про компанію
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="/about-page.html#about" class="header-text">
                      Про нас
                    </a>
                  </li>
                  <li>
                    <a href="/about-page.html#team" class="header-text">
                      Наша команда
                    </a>
                  </li>
                  <li>
                    <a href="/about-page.html#vacancies" class="header-text">
                      Вакансії
                    </a>
                  </li>
                  <li>
                    <a href="/about-page.html#platform" class="header-text">
                      Наша платформа
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="footer__list">
              <li class="menu-item menu-item-has-children">
                <a
                  href="/services-page.html"
                  class="header__menu-link header-text"
                >
                  Наші послуги
                </a>
                <ul class="sub-menu">
                  <li>
                    <a
                      href="/services-page.html#development"
                      class="header-text"
                    >
                      Розробка веб-сайтів
                    </a>
                  </li>
                  <li>
                    <a href="/services-page.html#marketing" class="header-text">
                      Діджитал маркетинг
                    </a>
                  </li>
                  <li>
                    <a href="/services-page.html#analytics" class="header-text">
                      Бізнес-аналітика (BI)
                    </a>
                  </li>
                  <li>
                    <a
                      href="/services-page.html#consulting"
                      class="header-text"
                    >
                      Консалтинг
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="footer__list">
              <li class="menu-item menu-item-has-children">
                <a
                  href="/industry-page.html"
                  class="header__menu-link header-text"
                >
                  Галузі
                </a>
                <ul class="sub-menu">
                  <li>
                    <a
                      href="/industry-page.html#pharmaceutical"
                      class="header-text"
                    >
                      Фармацевтична галузь
                    </a>
                  </li>
                  <li>
                    <a href="/industry-page.html#ecommerce" class="header-text">
                      E-commerce
                    </a>
                  </li>
                  <li>
                    <a href="/industry-page.html#logistics" class="header-text">
                      Логістика
                    </a>
                  </li>
                  <li>
                    <a href="/industry-page.html#gdpr" class="header-text">
                      Послуги з дотримання GDPR
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__rights">
          <span>&#169;</span>
          <p class="footer__rights-text">
            2024. All rights reserved.
            <a href="/policy-page.html">Privacy Policy.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<load src="partials/pop-up/pop-up.html" />
