<section class="vacancies body-wrapp-page">
  <div class="container">
    <div class="vacancies__body">
      <a href="/about-page.html#vacancies" class="link-back">
        <img src="./img/icon/left.svg" alt="" />
        <span>Всі вакансії</span>
      </a>
      <div class="vacancies__wrapp">
        <div class="vacancies__content"> 
          <div class="vacancies__box">
            <h2 class="vacancies__title sub-title">
              JavaScript Software Developer
            </h2>
            <p class="vacancies__text text">
              Leo viverra euismod mauris purus. Pulvinar tempor etiam sit
              imperdiet velit facilisi risus massa. Nulla id nunc urna
              vestibulum. Leo viverra euismod mauris purus. Pulvinar tempor
              etiam sit imperdiet velit facilisi risus massa. Nulla id nunc urna
              vestibulum.
            </p>
          </div>

          <div class="vacancies__box">
            <h3 class="vacancies__subtitle">Experience Required:</h3>
            <ul class="vacancies__list">
              <li class="vacancies__item">
                — Expert React with a solid understanding of the render process
                and hooks
              </li>
              <li class="vacancies__item">
                — Building apps with Node.js and TypeScript (we like Next.js)
              </li>
              <li class="vacancies__item">
                — Deploying and maintaining large applications
              </li>
              <li class="vacancies__item">
                — Using various hosting solutions like Vercel, AWS, and Google
                Cloud
              </li>
              <li class="vacancies__item">
                — Expert level experience in HTML/CSS/JS (keyword: «expert»). We
                ❤️ Tailwind.
              </li>
              <li class="vacancies__item">
                — Expert writer that prefers emails to meetings (a default job
                requirement at SKYCATCHFIRE)
              </li>
              <li class="vacancies__item">
                — Portfolio to show you’re a living, breathing developer,
                actively developing websites and apps
              </li>
              <li class="vacancies__item">
                — Detail oriented with the ability to self manage a task from
                start to finish
              </li>
            </ul>
          </div>
          <div class="vacancies__box">
            <h3 class="vacancies__subtitle">Experience Bonus Points:</h3>
            <ul class="vacancies__list">
              <li class="vacancies__item">— Stacks such as Python, PHP,.NET</li>
              <li class="vacancies__item">— React Native</li>
              <li class="vacancies__item">
                — WordPress or other CMS solutions
              </li>
              <li class="vacancies__item">— Multi-tenant architecture</li>
              <li class="vacancies__item">
                — Mad `/giphy` skills on Slack (or a desire to learn)
              </li>
            </ul>
          </div>
          <div class="vacancies__box">
            <h3 class="vacancies__subtitle">Responsibilities:</h3>
            <ul class="vacancies__list">
              <li class="vacancies__item">— Stacks such as Python, PHP,.NET</li>
              <li class="vacancies__item">— React Native</li>
              <li class="vacancies__item">
                — WordPress or other CMS solutions
              </li>
              <li class="vacancies__item">— Multi-tenant architecture</li>
              <li class="vacancies__item">
                — Mad `/giphy` skills on Slack (or a desire to learn)
              </li>
            </ul>
          </div>
        </div>
        <form class="vacancies__form submitForm">
          <h3 class="vacancies__subtitle">Apply now</h3>
          <label for="vacancies-name" class="vacancies__label">
            <input
              type="text"
              name="vacancies-name"
              id="vacancies-name"
              class="vacancies__input"
              placeholder="Ваше ім’я*"
              data-required="true"
            />
          </label>
          <label for="vacancies-email" class="vacancies__label">
            <input
              type="email"
              name="vacancies-email"
              id="vacancies-email"
              class="vacancies__input"
              placeholder="Пошта*"
              data-required="true"
            />
          </label>
          <label for="vacancies-number" class="vacancies__label">
            <input
              type="tel"
              name="vacancies-number"
              id="vacancies-number"
              class="vacancies__input"
              placeholder="Контактний номер*"
              data-required="true"
            />
          </label>
          <label for="resume" class="vacancies__label vacancies__file">
            <input
              type="file"
              name="resume"
              id="resume"
              class="vacancies__input input-file"
              placeholder="Додайте своє CV"
              data-required="true"
              data-er1="Оберіть файл"
              data-er2="Ваш файл не підходить за параметрами"
              accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
              data-required="true"
            />
          </label>
          <button type="submit" class="vacancies__btn btn-def">
            Приєднатися до команди
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<style>
  .vacancies__box p,
  .vacancies__box ul {
    font-size: 1rem;
  }

  .vacancies__input.error, .vacancies__label.error {
    border-color: red;
  }
</style>