.account {
  padding-bottom: 6.25rem;

  &__body {
    display: flex;
    align-items: start;
    gap: 1.25rem;
  }
  &__data {
    flex-shrink: 0;
    width: 19.375rem;
    background-color: #f4f7ff;
  }
  &__info {
    padding: 1.875rem;
  }
  &__logo {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.9375rem;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  &__name {
    color: #000028;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.575rem;
  }
  &__out-wrapp {
    border-top: 0.063rem solid #dee8fe;
    padding: 1.875rem;
  }
  &__out {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #91b3fa;
    line-height: 1.4rem;
    &::after {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M4 20V4H12.02V5H5V19H12.02V20H4ZM16.462 15.539L15.76 14.819L18.079 12.5H9.192V11.5H18.079L15.759 9.18L16.461 8.462L20 12L16.462 15.539Z' fill='%2391B3FA'/%3E%3C/svg%3E");
    }
    &:hover {
      filter: brightness(0) saturate(100%) invert(61%) sepia(28%) saturate(172%)
        hue-rotate(154deg) brightness(95%) contrast(82%);
    }
  }

  &__part {
    width: 100%;
    padding: 3.125rem;
    background-color: #dee8fe;
    align-self: normal;
  }
  &__title {
    color: #4b6db4;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8rem;
    margin-bottom: 1.875rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  &__item {
    width: 100%;

    a {
      display: block;
      width: 100%;
      color: #000028;
      text-align: center;
      font-size: 1.25rem;
      line-height: 1.75rem;
      padding: 0.75rem 2.25rem;
      background-color: #fff;
      transition: all 150ms;
      &:hover {
        color: #fff;
        background-color: #91b3fa;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .account {
    padding: 1.25rem 0 2.5rem 0;

    &__data {
      display: none;
    }
    &__body {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1;
    }
    &__title {
      margin-bottom: 1rem;
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    &__part {
      padding: 1.88rem;
    }
    &__item {
      a {
        font-size: 1.125rem;
        line-height: 1.575rem;
        padding: 0.75rem 1.25rem;
      }
    }
  }
}
