.login {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(145, 178, 250, 0.6);
  z-index: 100;
  transition: all 300ms;

  visibility: hidden;
  opacity: 0;

  &__body {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 33.125rem;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    padding: 5rem;
    display: flex;
    flex-direction: column;
  }
  &__close {
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
    transition: 150ms all;
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
    &:hover {
      opacity: 1;
    }
  }
  &__title {
    color: #000028;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.7rem;
    margin-bottom: 2.5rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__box {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
    label {
      width: 100%;
    }
    input {
      padding: 0;
      width: 100%;
      font-size: 1.25rem;
      line-height: 1.75rem;
      color: #000028;
      border-bottom: 0.0625rem solid #000028;
      padding-bottom: 0.75rem;
      &::placeholder {
        color: rgba(0, 0, 40, 0.4);
      }
      &.error {
        border-color: #d41d1d;
      }
      &.error::placeholder {
        color: #d41d1d;
      }
    }
  }
  &__check {
    cursor: pointer;
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    input {
      display: none;
      &.error + span {
        border-color: #d41d1d;
      }
    }
    span {
      flex-shrink: 0;
      width: 1.25rem;
      height: 1.25rem;
      border: 0.0625rem solid #91b3fa;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 200ms all;
      &::before {
        content: "";
        width: 1.25rem;
        height: 1.25rem;
      }
    }
    input:checked + span {
      background-color: #91b3fa;
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='26' viewBox='0 0 36 26' fill='none'%3E%3Cpath d='M12.7393 26L0.5 13.6757L3.55982 10.5946L12.7393 19.8378L32.4402 0L35.5 3.08108L12.7393 26Z' fill='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.1875rem 0.625rem;
      }
    }
  }
  &__check-wrapp {
    color: rgba(0, 0, 40, 0.7);
    font-size: 0.875rem;
    line-height: 1.225rem;
    a {
      color: rgba(0, 0, 40, 0.7);
      text-decoration: underline;
    }
  }
  &__sbm {
    width: 100%;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.75rem;
  }
  &__recovery {
    color: rgba(0, 0, 40, 0.7);
    font-size: 0.875rem;
    line-height: 1.225rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
.login.is-active {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 960px) {
  .login {
    &__body {
      padding: 3.125rem 1.875rem;
      width: 20.9375rem;
    }
    &__close {
      right: 1rem;
      top: 1rem;
      img {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
    &__title {
      font-size: 1.5rem;
      line-height: 1.8rem;
      margin-bottom: 1.88rem;
    }
    &__box {
      gap: 1.88rem;
      margin-bottom: 1.88rem;
    }
  }
}
