<div class="login">
  <div class="login__body">
    <button type="button" class="login__close">
      <img src="./img/icon/close.svg" alt="" />
    </button>
    <h2 class="login__title">
      Login to personal<br />
      account
    </h2>

    <form class="login__form">
      <div class="login__box">
        <label for="login-name">
          <input
            type="email"
            name="login-name"
            id="login-name"
            placeholder="Пошта*"
          />
        </label>

        <label for="login-password">
          <input
            type="password"
            name="login-password"
            id="login-password"
            placeholder="Пароль*"
          />
        </label>
      </div>

      <label class="login__check">
        <input type="checkbox" name="login-checkbox" id="login-checkbox" />
        <span></span>
        <p class="login__check-wrapp">
          Я даю згоду на обробку моїх персональних даних. Ознайомитись з
          <a href="/policy-page.html">Private Policy</a>.
        </p>
      </label>

      <button type="submit" class="login__sbm btn-def">Увійти в кабінет</button>
    </form>

    <div class="login__info">
      <button type="button" class="login__recovery">Forgot Password?</button>
    </div>
  </div>
</div>
