<section class="policy body-wrapp-page">
  <div class="container">
    <div class="policy__body">
      <h2 class="policy__title sub-title">Privacy Policy</h2>
      <div class="embeded">
        <h4>General Provisions</h4>
        <p>
          1.1. This Privacy Policy is provided to users who visit the site
          https://fleximp.com/
        </p>
        <p>
          1.2. This Privacy Policy is based on generally accepted custom,
          Internet ethics, general practice, the national legislation of
          Ukraine, and the EU General Data Protection Regulation 2016/679
          (GDPR).
        </p>
        <p>
          1.3. The confidentiality of our website users is of great importance
          to us, and we make every effort to protect it.
        </p>
        <p>
          1.4. The purpose of our privacy policy is to inform you about how we
          use your personal information provided by you in the process of using
          this website.
        </p>
        <p>
          1.5. We process your Personal Data only if one of the conditions
          specified in Article 6 of the GDPR and current Ukrainian legislation
          is met, including, but not limited to:
        </p>
        <p>You have consented to the processing of Personal Data;</p>
        <p>
          Processing is necessary for the purposes of entering into and/or
          performing a contract with you and/or providing you with additional
          services;
        </p>
        <p>
          Such processing is required by the current legislation of the
          countries with whose residents we cooperate.
        </p>
        <p>
          Such processing is required by the current legislation of the
          countries with whose residents we cooperate.
        </p>
        <p>
          Please note that you cannot use the website until you express your
          explicit consent to the provisions of this Privacy Policy using the
          technical means provided by this website.
        </p>
        <h4>Collection of Personal Data</h4>
        <p>
          <b>
            2.1. The following types of personal data are subject to collection,
            storage, and use:
          </b>
        </p>
        <p>
          <b>
            Information about your computer, including your IP address,
            geographical location, browser type and version, and operating
            system;
          </b>
        </p>
        <p>
          <b>
            Information about your visits and use of this website, including
            referral sources, length of visits, viewed pages, and navigation
            paths on the site;
          </b>
        </p>
        <p>
          <b>
            Information about your email address that you used to register on
            our website;
          </b>
        </p>
        <p>
          <b>
            Information you entered while creating a profile on our website —
            for example, your surname, name, gender, date of birth, marital
            status, place of study, etc.;
          </b>
        </p>
        <p>
          <b>
            Information, such as your name and email address, which you provided
            during the subscription to our mailings and/or newsletters;
          </b>
        </p>
        <p>
          <b>
            Information you entered while using the services on our website;
            Information generated while using our website, including information
            about the time, frequency, and conditions of its use;
          </b>
        </p>
        <p>
          <b>
            Information regarding any of your purchases, used services, or
            transactions made through our website, including your name, address,
            telephone number, email address, and credit card information;
          </b>
        </p>
        <p>
          <b>
            Information contained in any messages that you sent to us by email
            or through our website, including the content of the message and
            metadata;
          </b>
        </p>
        <p><b>Any other personal information that you sent to us.</b></p>
        <p>
          <b>
            Before disclosing to us the personal information of a third party,
            you must obtain the consent of that person both for the disclosure
            and for the processing of that information in accordance with this
            Policy.
          </b>
        </p>
        <h4>Use of Your Personal Information</h4>
        <p>
          3.1. Personal information that you submit to us through our website
          will be used for the purposes specified in this Policy or on the
          relevant pages of the website. We may use your personal information
          for the following purposes:
        </p>
        <ul>
          <li>
            administering our website and business; personalizing our website
            for you;
          </li>
          <li>
            enabling you to use the services and products available on our
            website;
          </li>
          <li>providing you with services purchased through our website;</li>
          <li>
            sending you statements, invoices, and payment reminders, and
            collecting payments from you;
          </li>
          <li>sending you non-marketing commercial communications;</li>
          <li>
            sending you email notifications that you have specifically
            requested;
          </li>
          <li>
            sending you our email newsletter, if you have requested it (you can
            inform us at any time if you no longer require the newsletter);
          </li>
          <li>
            sending you marketing communications relating to our business or the
            businesses of carefully-selected third parties which we think may be
            of interest to you, by post or, where you have specifically agreed
            to this, by email or similar technology (you can inform us at any
            time if you no longer require marketing communications);
          </li>
          <li>
            providing third parties with statistical information about our users
            (but those third parties will not be able to identify any individual
            user from that information);
          </li>
          <li>
            dealing with inquiries and complaints made by or about you relating
            to our website;
          </li>
          <li>keeping our website secure and prevent fraud;</li>
          <li>
            verifying compliance with the terms and conditions governing the use
            of our website (including monitoring private messages sent through
            our website's private messaging service);
          </li>
          <li>and other purposes.</li>
        </ul>
        <h4>Disclosure of Personal Information</h4>
        <p>
          4.1. We reserve the right to disclose your personal information to any
          of our employees, officers, insurers, professional advisers, agents,
          suppliers, or subcontractors as reasonably necessary for the purposes
          set out in this Policy.
        </p>
        <p>4.2. We reserve the right to disclose your personal information:</p>
        <ul>
          <li>
            in cases where the law requires us to do so; in connection with any
            ongoing or prospective legal proceedings;
          </li>
          <li>
            in order to establish, exercise, or defend our legal rights
            (including providing information to others for the purposes of fraud
            prevention and reducing credit risk);
          </li>
          <li>
            to the purchaser (or prospective purchaser) of any business or asset
            that we are (or are contemplating) selling;
          </li>
          <li>
            and to any person who we reasonably believe may apply to a court or
            other competent authority for disclosure of that personal
            information where, in our reasonable opinion, such court or
            authority would be reasonably likely to order disclosure of that
            personal information.
          </li>
        </ul>
        <p>
          4.3. We will not disclose your personal information to third parties
          except as provided in this Policy.
        </p>
        <h4>Retention of Personal Information</h4>
        <p>
          5.1. Personal information that we process for any purpose or purposes
          shall not be kept for longer than is necessary for that purpose or
          those purposes.
        </p>
        <h4>Protection of Your Personal Information</h4>
        <p>
          <b>
            6.1. We take adequate technical and organizational precautions to
            prevent the loss, misuse, or alteration of your personal
            information.
          </b>
        </p>
        <p>
          <b>
            All personal information you provide will be stored on our secure
            (password — and firewall-protected) servers.
          </b>
        </p>
        <p>
          <b>
            6.2. All electronic financial transactions entered into through our
            website will be protected by encryption technology.
          </b>
        </p>
        <p>
          <b>
            6.3. You acknowledge that the transmission of information over the
            internet is inherently insecure, and we cannot guarantee the
            security of data sent over the internet.
          </b>
        </p>
        <p>
          <b>
            6.4. You are responsible for keeping the password you use for
            accessing our website confidential.
          </b>
        </p>
        <h4>Your Rights</h4>
        <p>
          7.1. You may instruct us to provide you with any personal information
          we hold about you.
        </p>
        <p>
          7.2. We reserve the right to refuse to provide information in response
          to your request within the bounds of the law.
        </p>
        <h4>Cookies</h4>
        <p>
          8.1. Our website uses cookies. A cookie is a file containing an
          identifier (a string of letters and numbers) sent by a web server to a
          web browser and is stored by the browser. The identifier is then sent
          back to the server each time the browser requests a page from the
          server. Cookies may be either «persistent» or «session» cookies: a
          persistent cookie will be stored by a browser and will remain valid
          until its set expiry date, unless deleted by the user before the
          expiry date; a session cookie, on the other hand, will expire at the
          end of the user session, when the web browser is closed. Cookies
          typically do not contain any information that personally identifies a
          user, but personal information that we store about you may be linked
          to the information stored in and obtained from cookies.
        </p>
        <p>
          9. Fleximp Marketing Agency will retain and use personal information
          as necessary to comply with our legal obligations, resolve disputes,
          enforce our agreements, and in other cases permitted by law.
        </p>
      </div>
      <p class="policy__desc">Sincerely, Fleximp Analytics, Marketing Agency</p>
    </div>
  </div>
</section>
