<a href="./blog-page.html" class="link-back">
  <img src="./img/icon/left.svg" alt="" />
  <span>Всі статті</span>
</a>
<p class="article__date article__date-mob">28.04.2024</p>
<h2 class="article__title sub-title">Заголовок</h2>
<div class="article__img-wrapp">
  <img src="./img/blog/1.jpg" alt="" class="cover" />
</div>
<div class="article__content">
  <div class="embeded">
    <p>
      Porttitor scelerisque tempus amet pellentesque et pulvinar tortor. Nec
      cursus volutpat rutrum tristique tortor cras sed lacus nibh. Quisque ut id
      aliquet at facilisis gravida faucibus auctor mi. Tempor urna rhoncus a
      accumsan placerat eleifend. Sapien bibendum at eget risus nibh nisl proin
      senectus. Rhoncus fringilla integer habitasse fringilla. Ut porttitor
      pulvinar pharetra volutpat dolor imperdiet. Proin at gravida sed at ut.
      Etiam vestibulum lobortis sed vitae. Turpis blandit ac lectus lacus
      pulvinar. Aliquet sed neque auctor id facilisi. Non tellus lectus orci ut
      nam euismod quam.
    </p>
    <h3>
      Phasellus dignissim ultricies fringilla neque neque. Posuere eget nisi
      posuere pretium
    </h3>
    <p>
      Id tellus risus pellentesque et orci posuere mi aliquam. Adipiscing metus
      et mi justo. Volutpat cras vitae adipiscing cras proin cras lorem. Montes
      ornare eget aliquet venenatis faucibus. Sem sed amet neque euismod lacus
      mauris ornare elementum. Blandit non lacinia suspendisse aliquam enim vel
      velit. Eu turpis risus nec pellentesque sed lacus. Velit pellentesque
      facilisi nullam eu pulvinar gravida amet egestas pharetra. Ac pellentesque
      convallis hendrerit mattis dolor.
    </p>
    <p>
      Viverra sapien ac interdum in amet integer justo ultrices quis. A nunc
      lectus lectus morbi pulvinar. Malesuada dolor semper justo egestas
      adipiscing feugiat ac ut cursus. Mi proin mollis consectetur pretium nibh
      mattis. Arcu amet enim vitae id.
    </p>
    <h3>
      Phasellus dignissim ultricies fringilla neque neque. Posuere eget nisi
      posuere pretium
    </h3>
    <p>
      Id tellus risus pellentesque et orci posuere mi aliquam. Adipiscing metus
      et mi justo. Volutpat cras vitae adipiscing cras proin cras lorem. Montes
      ornare eget aliquet venenatis faucibus. Sem sed amet neque euismod lacus
      mauris ornare elementum. Blandit non lacinia suspendisse aliquam enim vel
      velit. Eu turpis risus nec pellentesque sed lacus. Velit pellentesque
      facilisi nullam eu pulvinar gravida amet egestas pharetra. Ac pellentesque
      convallis hendrerit mattis dolor.
    </p>
    <p>
      Viverra sapien ac interdum in amet integer justo ultrices quis. A nunc
      lectus lectus morbi pulvinar. Malesuada dolor semper justo egestas
      adipiscing feugiat ac ut cursus. Mi proin mollis consectetur pretium nibh
      mattis. Arcu amet enim vitae id.
    </p>
    <h3>
      Phasellus dignissim ultricies fringilla neque neque. Posuere eget nisi
      posuere pretium
    </h3>
    <p>
      Id tellus risus pellentesque et orci posuere mi aliquam. Adipiscing metus
      et mi justo. Volutpat cras vitae adipiscing cras proin cras lorem. Montes
      ornare eget aliquet venenatis faucibus. Sem sed amet neque euismod lacus
      mauris ornare elementum. Blandit non lacinia suspendisse aliquam enim vel
      velit. Eu turpis risus nec pellentesque sed lacus. Velit pellentesque
      facilisi nullam eu pulvinar gravida amet egestas pharetra. Ac pellentesque
      convallis hendrerit mattis dolor.
    </p>
    <p>
      Viverra sapien ac interdum in amet integer justo ultrices quis. A nunc
      lectus lectus morbi pulvinar. Malesuada dolor semper justo egestas
      adipiscing feugiat ac ut cursus. Mi proin mollis consectetur pretium nibh
      mattis. Arcu amet enim vitae id.
    </p>
  </div>
  <div class="article__box">
    <div class="article__rows">
      <div class="article__icon-wrapp">
        <img src="./img/icon/ph-image.svg" alt="" class="cover" />
      </div>
      <div class="article__info">
        <p class="article__name">Name Surname</p>
        <p class="article__comp">CEO Company Name</p>
      </div>
    </div>
    <p class="article__date">28.04.2024</p>
  </div>
</div>
