.pop-up {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(145, 178, 250, 0.6);
	z-index: 100;
	transition: 700 opacity;

	visibility: hidden;
	opacity: 0;

	&__body {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		background-color: #fff;
		padding: 5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3.125rem;
	}
	&__close {
		position: absolute;
		right: 1.25rem;
		top: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0.2;
		transition: 150ms all;
		img {
			width: 1.5rem;
			height: 1.5rem;
		}
		&:hover {
			opacity: 1;
		}
	}
	&__check {
		width: 5rem;
		height: 5rem;
		background-color: #91b3fa;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(34%)
				hue-rotate(63deg) brightness(106%) contrast(100%);
		}
	}
	&__text {
		text-align: center;
		width: 36.5625rem;
		font-size: 2.25rem;
		font-weight: 600;
		line-height: 2.7rem;
	}
}
.pop-up.is-active {
	visibility: visible;
	opacity: 1;
}
body.modal-open {
	overflow: hidden;
}

@media screen and (max-width: 960px) {
	.pop-up {
		&__body {
			padding: 3.125rem 1.875rem;
			gap: 1.25rem;
		}
		&__close {
			right: 1rem;
			top: 1rem;
			img {
				width: 1.25rem;
				height: 1.25rem;
			}
		}
		&__check {
			width: 2.5rem;
			height: 2.5rem;
			img {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
		&__text {
			width: 17.1875rem;
			font-size: 1.5rem;
			line-height: 1.8rem;
		}
	}
}
@media screen and (max-width: 680px) {
	.pop-up {
	}
}
@media screen and (max-width: 500px) {
	.pop-up {
	}
}
