<div class="portfolio__info sectuon-info">
  <h2 class="portfolio__title sub-title">Портфоліо</h2>
  <p class="portfolio__text sectuon-info__text text">
    Наші досягнення є втіленням не лише нашої роботи, але й нашого прагнення
    до інновацій та високих стандартів у кожному проекті.
  </p>
</div>
<ul class="portfolio__list">
  <li class="portfolio__item">
    <div class="portfolio__img-wrapp">
      <img src="./img/portfolio/1.jpg" alt="" class="cover" />
    </div>
    <div class="portfolio__content">
      <h3>International Arms Ukraine</h3>
      <p class="text">
        Magna ullamcorper vel augue laoreet feugiat enim consectetur sodales
        lorem. Tellus feugiat mauris tortor sed et nec felis elementum. Tempus
        egestas auctor ullamcorper auctor vel lacus donec.
      </p>
      <a href="/projects-page.html">
        See Project Details
        <img src="./img/icon/right-bolt.svg" alt="" />
      </a>
    </div>
  </li>
  <li class="portfolio__item">
    <div class="portfolio__img-wrapp">
      <img src="./img/portfolio/2.jpg" alt="" class="cover" />
    </div>
    <div class="portfolio__content">
      <h3>Normarin</h3>
      <p class="text">
        Magna ullamcorper vel augue laoreet feugiat enim consectetur sodales
        lorem. Tellus feugiat mauris tortor sed et nec felis elementum. Tempus
        egestas auctor ullamcorper auctor vel lacus donec.
      </p>
      <a href="/projects-page.html">
        See Project Details
        <img src="./img/icon/right-bolt.svg" alt="" />
      </a>
    </div>
  </li>
  <li class="portfolio__item">
    <div class="portfolio__img-wrapp">
      <img src="./img/portfolio/3.jpg" alt="" class="cover" />
    </div>
    <div class="portfolio__content">
      <h3>Aicore Consumer</h3>
      <p class="text">
        Magna ullamcorper vel augue laoreet feugiat enim consectetur sodales
        lorem. Tellus feugiat mauris tortor sed et nec felis elementum. Tempus
        egestas auctor ullamcorper auctor vel lacus donec.
      </p>
      <a href="/projects-page.html">
        See Project Details
        <img src="./img/icon/right-bolt.svg" alt="" />
      </a>
    </div>
  </li>
</ul>
