.footer {
  padding: 4.32rem 0;

  &__body {
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 0.063rem solid var(--cd1);
    padding-bottom: 2.88rem;
  }
  &__logo {
    width: 7.25rem;
    margin-bottom: 1.5rem;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: -0.15631rem;
    margin-bottom: 1.25rem;
  }
  &__text {
    max-width: 37.5625rem;
    text-align: center;
    line-height: 1.25rem;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 2.88rem;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    margin-bottom: 1.88rem;
  }
  &__item {
  }
  &__soc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.9375rem;
    svg {
      display: block;
      max-width: 100%;
      fill: var(--cm2);
      transition: all 200ms ease-in;
    }
    &:hover svg {
      fill: var(--cb2);
    }
  }
  &__rights {
    color: var(--cm2);
    text-align: center;
    font-size: 0.875rem;
    line-height: normal;
  }
}

@media screen and (max-width: 960px) {
  .footer {
    padding: 3.94rem 0 4.25rem 0;

    &__top {
      align-items: start;
      padding-bottom: 3.25rem;
    }
    &__text {
      max-width: none;
      text-align: start;
    }
    &__bottom {
      align-items: start;
      padding-top: 3.25rem;
    }
    &__list {
      margin-bottom: 1.25rem;
    }
    &__soc {
      width: 1.94rem;
    }
    &__rights {
      text-align: start;
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
  }
}
