<div class="recovery">
  <div class="recovery__body">
    <button type="button" class="recovery__close">
      <img src="./img/icon/close.svg" alt="" />
    </button>
    <h2 class="recovery__title">Password recovery</h2>

    <form class="recovery__form">
      <label for="recovery-name">
        <input
          type="email"
          name="recovery-email"
          id="recovery-email"
          placeholder="Пошта*"
        />
      </label>

      <button type="submit" class="recovery__sbm btn-def">
        <span class="recovery__sbm-dec">Надіслати новий пароль</span>
        <span class="recovery__sbm-mob">Надіслати пароль</span>
      </button>
    </form>
  </div>
</div>
