.policy {
	&__body {
	}
	&__title {
		margin-bottom: 3.12rem;
	}
	&__desc {
		margin-top: 3.12rem;
		color: #91b3fa;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 1.8rem;
	}
}

@media screen and (max-width: 960px) {
	.policy {
		&__title {
			margin-bottom: 1.88rem;
		}
		&__desc {
			margin-top: 1.88rem;
			font-size: 1.125rem;
			line-height: 1.575rem;
		}
	}
}
@media screen and (max-width: 680px) {
	.policy {
	}
}
@media screen and (max-width: 500px) {
	.policy {
	}
}
