<nav class="nav-menu">
  <ul class="nav-menu__list">
    <li class="nav-menu__item">
      <a href="#" class="nav-menu__link">Home</a>
    </li>
    <li class="nav-menu__item">
      <a href="#" class="nav-menu__link">About</a>
    </li>
    <li class="nav-menu__item">
      <a href="#" class="nav-menu__link">Services</a>
    </li>
    <li class="nav-menu__item">
      <a href="#" class="nav-menu__link">Market Insight</a>
    </li>
    <li class="nav-menu__item">
      <a href="#" class="nav-menu__link">FAQ</a>
    </li>
  </ul>

  <a href="#" class="btn-def">Get Started</a>
</nav>
