@media screen and (min-width: 961px) {
    .nabigation {
        display: none !important;
    }
}

@media screen and (max-width: 960px) {
    .overHideMob {
        overflow: hidden;
    }
}

.nabigation {
    padding-top: 4.2rem;
    padding-bottom: 1.5em;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: var(--main-color);
    display: none;
    overflow: auto;
    .header__menu-list {
        padding-top: 1.25em;
        display: block;
        a {
            color: #fff !important;
            opacity: 1 !important;
        }
        & > .menu-item {
            padding-bottom: 1.88rem;

            & > a {
                font-size: 1.125em;
                font-weight: 500;
                line-height: 1.4;
                transition: .3s;
            }

            &.menu-item-has-children {
                position: relative;
                &::after {
                    width: 1.25rem;
                    height: 1.25rem;
                    top: 0.7em;
                    transform: translateY(-50%) rotate(0);
                    transition: .3s;
                    right: 0;
                    content: "";
                    position: absolute;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cpath d='M9.31012 14.3061L2.67262 7.33988C2.56181 7.22364 2.5 7.06921 2.5 6.90863C2.5 6.74804 2.56181 6.59361 2.67262 6.47738L2.68012 6.46988C2.73384 6.41333 2.79849 6.36831 2.87016 6.33754C2.94183 6.30677 3.019 6.29091 3.09699 6.29091C3.17499 6.29091 3.25216 6.30677 3.32383 6.33754C3.39549 6.36831 3.46015 6.41333 3.51387 6.46988L9.76387 13.0299L16.0114 6.46988C16.0651 6.41333 16.1297 6.36831 16.2014 6.33754C16.2731 6.30677 16.3503 6.29091 16.4282 6.29091C16.5062 6.29091 16.5834 6.30677 16.6551 6.33754C16.7267 6.36831 16.7914 6.41333 16.8451 6.46988L16.8526 6.47738C16.9634 6.59361 17.0252 6.74804 17.0252 6.90863C17.0252 7.06921 16.9634 7.22364 16.8526 7.33988L10.2151 14.3061C10.1567 14.3674 10.0865 14.4162 10.0088 14.4495C9.93098 14.4828 9.84724 14.5 9.76262 14.5C9.678 14.5 9.59426 14.4828 9.51648 14.4495C9.43869 14.4162 9.36849 14.3674 9.31012 14.3061Z' fill='white'/%3E%3C/svg%3E");
                }

                &.opened {
                    & > a {
                        color: var(--blue);
                    }
                    &::after {
                        transform: translateY(-50%) rotate(-180deg);
                    }
                }
            }

            .sub-menu {
                margin-top: 0.75em;
                display: none;
                background: rgba(255, 255, 255, 0.05);

                a {
                    padding: .75rem 1rem;
                    font-size: 1.125rem;
                    font-weight: 400;
                    display: block;
                }

                .current-menu-item {
                    a {
                        background: rgba(255, 255, 255, 0.10);
                    }
                }
            }
        }
    }
    .header__lang-list {
        margin-top: 1.24em;
        display: inline-flex;
    }
}
