.process {
	&__body {
	}
	&__title {
		margin-bottom: 3.12rem;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.25rem;
		margin-bottom: 3.12rem;
	}
	&__item {
		padding: 3.125rem;
		background-color: #dee8fe;
	}
	&__tagline {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 1.35rem;
		margin-bottom: 0.5rem;
		span {
			color: #91b3fa;
		}
	}
	&__subtitle {
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 1.8rem;
		margin-bottom: 1.25rem;
	}
	&__text {
	}
	&__link-wrapp {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__link {
	}
}

@media screen and (max-width: 960px) {
	.process {
		&__title {
			margin-bottom: 1.88rem;
		}
		&__list {
			grid-template-columns: repeat(1, 1fr);
			margin-bottom: 1.88rem;
		}
		&__item {
			padding: 1.875rem;
		}
		&__tagline {
			font-size: 1rem;
			line-height: 1.2rem;
		}
		&__subtitle {
			font-size: 1.125rem;
			font-weight: 500;
			line-height: 1.575rem;
			margin-bottom: 0.75rem;
		}
		&__link-wrapp {
			margin: 0 5rem;
		}
		&__link {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
@media screen and (max-width: 680px) {
	.process {
		&__link-wrapp {
			margin: 0;
		}
	}
}
@media screen and (max-width: 500px) {
	.process {
	}
}
