<section class="process body-wrapp">
  <div class="container">
    <div class="process__body">
      <h2 class="process__title sub-title">Як ми це робимо</h2>
      <ul class="process__list">
        <li class="process__item">
          <p class="process__tagline">Крок <span>01</span></p>
          <h3 class="process__subtitle">Headline #1</h3>
          <p class="process__text text">
            Urna adipiscing urna varius pulvinar sodales aliquam morbi ultricies
            ut. Eu pharetra mus habitant enim sed suspendisse posuere pulvinar
            nisl. At pharetra nam mauris dignissim mi porttitor diam. Amet
            faucibus proin tristique magna donec odio mattis dui. Nascetur
            aliquet in gravida amet.
          </p>
        </li>
        <li class="process__item">
          <p class="process__tagline">Крок <span>02</span></p>
          <h3 class="process__subtitle">Headline #2</h3>
          <p class="process__text text">
            Urna adipiscing urna varius pulvinar sodales aliquam morbi ultricies
            ut. Eu pharetra mus habitant enim sed suspendisse posuere pulvinar
            nisl. At pharetra nam mauris dignissim mi porttitor diam. Amet
            faucibus proin tristique magna donec odio mattis dui. Nascetur
            aliquet in gravida amet.
          </p>
        </li>
        <li class="process__item">
          <p class="process__tagline">Крок <span>03</span></p>
          <h3 class="process__subtitle">Headline #3</h3>
          <p class="process__text text">
            Urna adipiscing urna varius pulvinar sodales aliquam morbi ultricies
            ut. Eu pharetra mus habitant enim sed suspendisse posuere pulvinar
            nisl. At pharetra nam mauris dignissim mi porttitor diam. Amet
            faucibus proin tristique magna donec odio mattis dui. Nascetur
            aliquet in gravida amet.
          </p>
        </li>
      </ul>
      <div class="process__link-wrapp">
        <button
          type="button"
          data-target="footer"
          class="process__link btn-def ankor"
        >
          Замовити консультацію
        </button>
      </div>
    </div>
  </div>
</section>
