<section id="services-page" class="services-page body-wrapp-page">
  <div class="container">
    <div class="services-page__body">
      <h2 class="services-page__title sub-title">Наші послуги</h2>
      <div class="services-page__wrapp">
        <ul class="services-page__list">
          <li id="development" class="services-page__item">
            <div class="services-page__img-wrapp">
              <img src="./img/services/1.jpg" alt="" class="cover" />
            </div>
            <div class="services-page__content">
              <div class="services-page__aside">
                <h3 class="services-page__subtitle">
                  <span>01</span> Розробка вебсайтів з нуля
                </h3>
                <p class="services-page__text text">
                  <b>Fleximp Analytics</b> - втілює у життя вебпроєкти з нуля,
                  починаючи від ідеї і закінчуючи готовим, сучасним та
                  функціональним сайтом.
                </p>
                <p class="services-page__text text">Три важливих кроки:</p>
                <ul class="services-page__items">
                  <li class="text">
                    інтерв’ю із замовником, виявлення побажань, ідей та
                    стратегії діяльності організації;
                  </li>
                  <li class="text">
                    розробка технічного завдання через процес узгодження
                    структури, функціоналу та дизайну;
                  </li>
                  <li class="text">
                    створення сайту у фінальній, схваленій замовником версії.
                  </li>
                </ul>
              </div>
              <div class="services-page__link-wrapp">
                <a
                  href="/portfolio-page.html"
                  class="services-page__link btn-def"
                >
                  Всі проєкти
                </a>
              </div>
            </div>
          </li>
          <li id="marketing" class="services-page__item">
            <div class="services-page__img-wrapp">
              <img src="./img/services/2.jpg" alt="" class="cover" />
            </div>
            <div class="services-page__content">
              <div class="services-page__aside">
                <h3 class="services-page__subtitle">
                  <span>02</span> Діджитал маркетинг
                </h3>
                <p class="services-page__text text">
                  Фахівці <b>Fleximp Analytics</b> розробляють плани
                  діджитал-маркетингу, охоплюючи такі аспекти, як SEO, PPC та
                  інше. Наш підхід базується на розумінні бізнесу, технологічних
                  інноваціях та творчих рішеннях.
                </p>
                <p class="services-page__text text">
                  Основа для рекламних кампаній клієнтів будується на:
                </p>
                <ul class="services-page__items">
                  <li class="text">
                    Вивченні портрету споживача та його поведінки;
                  </li>
                  <li class="text">
                    Розробки разом з клієнтом ключового повідомлення;
                  </li>
                  <li class="text">
                    Показниках ефективності (ROAS – Return on Ad Spend; ROMI –
                    Return on Marketing Investment).
                  </li>
                </ul>
              </div>
              <div class="services-page__btn-wrapp">
                <button
                  type="button"
                  data-target="footer"
                  class="services-page__btn btn-def ankor"
                >
                  Замовити консультацію
                </button>
              </div>
            </div>
          </li>
          <li id="analytics" class="services-page__item">
            <div class="services-page__img-wrapp">
              <img src="./img/services/3.jpg" alt="" class="cover" />
            </div>
            <div class="services-page__content">
              <div class="services-page__aside">
                <h3 class="services-page__subtitle">
                  <span>03</span> Бізнес-аналітика (BI)
                </h3>
                <p class="services-page__text text">
                  <b>Fleximp Analytics</b> пропонує комплексну бізнес-аналітику,
                  включаючи створення інформаційних панелей, звітів та
                  аналітичних кубів, що допомагають збільшити ефективність
                  управління.
                </p>
                <p class="services-page__text text">Ми робимо:</p>
                <ul class="services-page__items">
                  <li class="text">
                    Інтеграцію даних, BI &amp; Analytics - інтелектуальний
                    аналіз даних і перевірка даних з різних джерел;
                  </li>
                  <li class="text">
                    Аутсорсинг штату та бізнес-процесів - аналітики даних,
                    дослідники даних, бізнес-аналітики, DBA, програмісти;
                  </li>
                  <li class="text">
                    CRM [ETMS* / CLM*] - рішення, які дозволяють створити
                    узагальнену екосистему для ефективної роботи фармацевтичної
                    компанії.
                  </li>
                </ul>
              </div>
              <div class="services-page__btn-wrapp">
                <button
                  type="button"
                  data-target="footer"
                  class="services-page__btn btn-def ankor"
                >
                  Замовити консультацію
                </button>
              </div>
            </div>
          </li>
          <li id="consulting" class="services-page__item">
            <div class="services-page__img-wrapp">
              <img src="./img/services/4.jpg" alt="" class="cover" />
            </div>
            <div class="services-page__content">
              <div class="services-page__aside">
                <h3 class="services-page__subtitle">
                  <span>04</span> Консалтинг
                </h3>
                <p class="services-page__text text">
                  Наші експерти пропонують індивідуальні рішення, що
                  відповідають вашим потребам. Ми надаємо експертні поради та
                  підтримку в різних аспектах цифрової трансформації вашого
                  бізнесу.
                </p>
                <p class="services-page__text text">
                  Наша експертиза найвища в наступних галузях::
                </p>
                <ul class="services-page__items">
                  <li class="text">
                    Маркетинг продуктів медичного призначення у країнах східної
                    Європи (Україна, Польща, Румунія, Болгарія, Хорватія,
                    Молдова та Сербія);
                  </li>
                  <li class="text">
                    Обробки та захисту як персональних даних (GDPR) так і
                    Комплексної системи захисту інформації (КСЗІ) в Європі та
                    Україні;
                  </li>
                  <li class="text">
                    Збір, зберігання, обробка, аналіз, візуалізація великих
                    масивів даних – побудова інформаційної екосистеми.
                  </li>
                </ul>
              </div>
              <div class="services-page__link-wrapp">
                <a href="#" class="services-page__link btn-def">Всі проєкти</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
