<section class="about body-wrapp">
  <div class="container">
    <div class="about__body">
      <div class="about__content">
        <h2 class="about__title sub-title">Про нас</h2>
        <div class="about__text-box">
          <p class="about__text text">
            У <b>Fleximp Analytics</b> ми надаємо інноваційні рішення для бізнесу, які допомагають клієнтам зростати та розвиватися. 
          </p>
          <p class="about__text text">
            Наша експертиза охоплює різні сфери, зокрема, фармацевтику, логістику, електронну комерцію та юридичні аспекти у фармацевтичній галузі, та розробку сайтів для некомерційних та державних установ. 
          </p>
          <p class="about__text text">
            Ми забезпечуємо комплексні послуги, які відповідають найвищим стандартам якості та ефективності.
          </p>
        </div>
        <a href="/about-page.html" class="about__link link-def"
          >Дізнатися більше<img src="./img/icon/right.svg" alt=""
        /></a>
      </div>
      <ul class="about__list">
        <li class="about__item cart">
          <span class="cart__number">01</span>
          <h3 class="cart__title">Діджитал технології</h3>
          <div class="cart__box">
            <h3 class="title-box">Діджитал технології</h3>
            <p class="cart__text">
              Впровадження сучасних діджитал технологій у щоденний бізнес наших клієнтів, щоб забезпечити їхній успіх та конкурентоспроможність на ринку.
            </p>
          </div>
        </li>
        <li class="about__item cart">
          <span class="cart__number">02</span>
          <h3 class="cart__title">Експерт із цифрової трансформації</h3>
          <div class="cart__box">
            <h3 class="title-box">Експерт із цифрової трансформації</h3>
            <p class="cart__text">
              Fleximp є провідником для клієнтів у сфері цифрової трансформації, надаючи індивідуальні та інноваційні рішення для кожного
            </p>
          </div>
        </li>
        <li class="about__item cart">
          <span class="cart__number">03</span>
          <h3 class="cart__title">Задоволення клієнта</h3>
          <div class="cart__box">
            <h3 class="title-box">Задоволення клієнта</h3>
            <p class="cart__text">
              Забезпечити задоволення потреб клієнта, який успішно використовує наші інструменти у своєму бізнесі.
            </p>
          </div>
        </li>
        <li class="about__item cart">
          <span class="cart__number">04</span>
          <h3 class="cart__title">Професійна відповідальність</h3>
          <div class="cart__box">
            <h3 class="title-box">Професійна відповідальність</h3>
            <p class="cart__text">
              Наш підхід ґрунтується на стандартах професійної відповідальності. Ми прагнемо завжди перевершувати очікування наших клієнтів.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
