<section class="behistory sec-animation">
  <div class="container">
    <div class="behistory__body">
      <div class="behistory__box elem-animation">
        <div class="behistory__year">
          <img src="./img/decor/year.png" alt="2024" />
        </div>

        <div class="behistory__info">
          <p class="behistory__subtitle dec-subtitle">
            This may only happen once
          </p>
          <h2 class="behistory__title title-def">Be a part of History</h2>
          <p class="behistory__text text-def">
            By fully integrating equities trading with advanced blockchain
            technology we ensure secure, transparent, and efficient
            transactions. Whether you're a company seeking capital or a user
            wanting to ride the newest stock trends, Aion will serve you.
          </p>
        </div>
      </div>

      <div class="behistory__graph elem-animation-1">
        <span class="graph-icon">
          <img src="./img/icons/behistory_1.svg" alt="Icon" />
        </span>
        <span class="graph-vector">
          <img src="./img/icons/line-h.svg" alt="Iine" />
        </span>
        <span class="graph-icon">
          <img src="./img/icons/behistory_2.svg" alt="Icon" />
        </span>
        <span class="graph-vector">
          <img src="./img/icons/line-h.svg" alt="Iine" />
        </span>
        <span class="graph-icon">
          <img src="./img/icons/behistory_3.svg" alt="Icon" />
        </span>
        <span class="graph-vector">
          <img src="./img/icons/line-h.svg" alt="Iine" />
        </span>
        <span class="graph-icon">
          <img src="./img/icons/behistory_4.svg" alt="Icon" />
        </span>
      </div>

      <ul class="behistory__list elem-animation-2">
        <li class="behistory__item">
          <div class="behistory__content">
            <h4 class="behistory__slogan">Financial Empowerment</h4>
            <p class="behistory__desc">
              Leveraging cutting-edge public blockchain technology, The Aionic
              Exchange provides everyone the same worldwide access to equities
              markets. There are no unfair advantages.
            </p>
          </div>
          <span class="graph-vector">
            <img src="./img/icons/line-v.svg" alt="Iine" />
          </span>
          <span class="graph-icon">
            <img src="./img/icons/behistory_1.svg" alt="Icon" />
          </span>
        </li>

        <li class="behistory__item">
          <div class="behistory__content">
            <h4 class="behistory__slogan">Governance-Driven</h4>
            <p class="behistory__desc">
              Aionic DAO approves new equities and initializes liquidity through
              governance, ensuring that your investments are managed efficiently
              and transparently.
            </p>
          </div>
          <span class="graph-vector">
            <img src="./img/icons/line-v.svg" alt="Iine" />
          </span>
          <span class="graph-icon">
            <img src="./img/icons/behistory_2.svg" alt="Icon" />
          </span>
        </li>

        <li class="behistory__item">
          <div class="behistory__content">
            <h4 class="behistory__slogan">Innovative Solutions</h4>
            <p class="behistory__desc">
              Minting of Synthetic and Real Equities through Aionic Commission
              allows companies to mint on-chain equities with features such as
              voting and on-chain compliance functionality.
            </p>
          </div>
          <span class="graph-vector">
            <img src="./img/icons/line-v.svg" alt="Iine" />
          </span>
          <span class="graph-icon">
            <img src="./img/icons/behistory_3.svg" alt="Icon" />
          </span>
        </li>

        <li class="behistory__item">
          <div class="behistory__content">
            <h4 class="behistory__slogan">Secure Ecosystem</h4>
            <p class="behistory__desc">
              Aionic Network ensures security with Cosmos Staking and is
              future-proofed with a patented Equity Consensus mechanism that
              solves for throughput and front-running.
            </p>
          </div>
          <span class="graph-vector">
            <img src="./img/icons/line-v.svg" alt="Iine" />
          </span>
          <span class="graph-icon">
            <img src="./img/icons/behistory_4.svg" alt="Icon" />
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>
