<section class="behistory">
  <div class="container">
    <div class="behistory__body">
      <p class="behistory__subtitle dec-subtitle">This may only happen once</p>
      <h2 class="behistory__title title-def">Be a part of History</h2>
      <p class="behistory__text text-def">
        By fully integrating equities trading with advanced blockchain
        technology we ensure secure, transparent, and efficient transactions.
        Whether you're a company seeking capital or a user wanting to ride the
        newest stock trends, Aion will serve you.
      </p>
    </div>
  </div>
</section>
