<section class="community sec-animation">
  <div class="container">
    <div class="community__body">
      <div class="community__content elem-animation">
        <div class="community__info">
          <p class="community__subtitle dec-subtitle">Aion Coin</p>
          <h2 class="community__title title-def">Community</h2>
        </div>
        <p class="community__text text-def">
          100 Million AION at genesis. Fairly distributed across Team,
          Investors, Ecosystem and DAO.
        </p>
      </div>

      <div class="community__wrapp">
        <ul class="community__list elem-animation-1">
          <li class="community__item">
            <div class="community__icon">
              <img src="./img/icons/community_1.svg" alt="Icon" />
            </div>
            <h3 class="community__slogan">Investors</h3>
            <p class="community__desc">Funding and networks</p>
          </li>
          <li class="community__item">
            <div class="community__icon">
              <img src="./img/icons/community_2.svg" alt="Icon" />
            </div>
            <h3 class="community__slogan">Team</h3>
            <p class="community__desc">Builders and marketers</p>
          </li>
          <li class="community__item">
            <div class="community__icon">
              <img src="./img/icons/community_3.svg" alt="Icon" />
            </div>
            <h3 class="community__slogan">DAO</h3>
            <p class="community__desc">Governance and sustainability</p>
          </li>
          <li class="community__item">
            <div class="community__icon">
              <img src="./img/icons/community_4.svg" alt="Icon" />
            </div>
            <h3 class="community__slogan">Ecosystem</h3>
            <p class="community__desc">Traders and issuers</p>
          </li>
        </ul>

        <div class="community__img elem-animation-2">
          <img src="./img/content/community.png" alt="Schedule" />
        </div>
      </div>

      <div class="eff-filter-dec"></div>

      <div class="planet-decor-max">
        <img src="./img/decor/planet.png" alt="" />
      </div>
    </div>
  </div>
</section>
