<section class="cryptvs sec-animation">
  <div class="container">
    <div class="cryptvs__body">
      <div class="cryptvs__content elem-animation">
        <div class="cryptvs__info">
          <p class="cryptvs__subtitle dec-subtitle">Market Insight</p>
          <h2 class="cryptvs__title title-def">Cryptocurrency vs Equities</h2>
        </div>
        <p class="cryptvs__text text-def">
          NVDA and other equities have returned more in recent years than
          cryptocurrency. The AION Exchange allows for crypto-native users to
          gain exposure to equities markets.
        </p>
      </div>

      <div class="cryptvs__img elem-animation-1">
        <img src="./img/content/cryptvs.png" alt="Schedule" />
      </div>
    </div>
  </div>
</section>
