<section class="customers body-wrapp">
  <div class="container">
    <div class="customers__body">
      <h2 class="customers_title sub-title">Наші клієнти</h2>
      <ul class="customers__list">
        <li class="customers__item">
          <img src="./img/company-logo/logo_1.svg" alt="" class="contain1" />
        </li>
        <li class="customers__item">
          <img src="./img/company-logo/logo_2.svg" alt="" class="contain1" />
        </li>
        <li class="customers__item">
          <img src="./img/company-logo/logo_3.svg" alt="" class="contain1" />
        </li>
        <li class="customers__item">
          <img src="./img/company-logo/logo_4.svg" alt="" class="contain1" />
        </li>
        <li class="customers__item">
          <img src="./img/company-logo/logo_5.svg" alt="" class="contain1" />
        </li>
        <li class="customers__item">
          <img src="./img/company-logo/logo_6.svg" alt="" class="contain1" />
        </li>
        <li class="customers__item">
          <img src="./img/company-logo/logo_7.svg" alt="" class="contain1" />
        </li>
        <li class="customers__item">
          <img src="./img/company-logo/logo_8.svg" alt="" class="contain1" />
        </li>
      </ul>
    </div>
  </div>
</section>
