<section class="hero">
  <div class="container">
    <div class="hero__body">
      <div class="hero__content">
        <h1 class="hero__title title-def">Worldwide Stock Exchange</h1>
        <p class="hero__text text-def">
          Revolutionizing the 106 Trillion dollar equities markets by blurring
          the lines between Synthetic and Real on-chain ownership.
        </p>
        <a href="#" class="hero__btn btn-def">Get Started</a>
      </div>

      <div class="hero__wrapp">
        <div class="hero__img">
          <img src="./img/content/hero.png" alt="Images" />
        </div>
      </div>
    </div>
  </div>
</section>
