<section class="hero">
  <div class="container">
    <div class="hero__body">
      <div class="hero__content">
        <h1 class="hero__title title-def elem-animation">
          Worldwide Stock Exchange
        </h1>
        <p class="hero__text text-def elem-animation-1">
          Revolutionizing the 106 Trillion dollar equities markets by blurring
          the lines between Synthetic and Real on-chain ownership.
        </p>
        <div class="hero__btn-wrapp elem-animation-2">
          <a href="#" class="hero__btn btn-def">Get Started</a>
        </div>
      </div>

      <div class="hero__wrapp elem-animation-3">
        <div class="hero__img">
          <img src="./img/content/hero.png" alt="Images" />
        </div>
      </div>

      <div class="eff-filter-dec"></div>
      <div class="eff-filter-mob"></div>

      <div class="planet-decor-max">
        <img src="./img/decor/planet.png" alt="" />
      </div>
      <div class="planet-decor-min">
        <img src="./img/decor/planet.png" alt="" />
      </div>

      <div class="line-eff-dec">
        <img src="./img/decor/line-eff-dec_1.png" alt="Line effect" />
      </div>
      <div class="line-eff-mob">
        <img src="./img/decor/line-eff-mob_1.png" alt="Line effect" />
      </div>
    </div>
  </div>
</section>
