<section class="hero">
  <div class="container">
    <div class="hero__body">
      <div class="hero__content">
        <h1 class="hero__title">
          <span>Fleximp Analytics</span> — діджитал трансформація вашого бізнесу.
        </h1>
        <p class="hero__text text">
          Ми надаємо комплексні цифрові рішення, включаючи діджитал маркетинг, розробку веб-сайтів, бізнес-аналітику, GDPR сервіс та інші цифрові послуги. Наша команда поєднує високий професіоналізм із творчістю та інноваціями, щоб досягти успіху наших клієнтів.
        </p>
        <div class="hero__flex-wrap">
          <div class="hero__btn-wrapp">
            <button type="button" data-target="footer" class="hero__btn btn-def ankor">
              Стати клієнтом
            </button>
            <a href="/about-page.html" class="hero__link link-second">
              Детальніше
              <img src="./img/icon/right.svg" alt="" />
            </a>
          </div>
          <ul class="hero__list">
            <li class="hero__item">
              <p class="static-number">20+</p>
              <p class="static-text text">Виконаних проєктів</p>
            </li>
            <li class="hero__item">
              <p class="static-number">10+</p>
              <p class="static-text text">Задоволених клієнтів</p>
            </li>
            <li class="hero__item">
              <p class="static-number">8+</p>
              <p class="static-text text">Років досвіду</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="hero__img-wrapp">
        <div
          class="splide-hero splide"
          role="group"
          aria-label="Splide Basic HTML Example"
        >
          <div class="hero__splide-track splide__track">
            <ul class="hero__splide-list splide__list">
              <li class="hero__splide-slide splide__slide">
                <img src="./img/hero/2.jpg" alt="" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
