<section class="reviews body-wrapp">
  <div class="container">
    <div class="reviews__body">
      <div class="reviews__info sectuon-info">
        <h2 class="reviews__title sub-title">Що про нас говорять</h2>
        <p class="reviews__text sectuon-info__text text">
          Magna ullamcorper vel augue laoreet feugiat enim consectetur sodales
          lorem. Tellus feugiat mauris tortor sed et nec felis elementum.
        </p>
      </div>
    </div>
  </div>
  <div class="reviews__box splide-reviews splide">
    <div class="reviews__splide splide__track">
      <ul class="reviews__list splide__list">
        <li class="reviews__item splide__slide">
          <p class="reviews__splide-text text">
            Pretium phasellus commodo suscipit aenean. Interdum vulputate amet
            in sit. Imperdiet vel tristique aenean fermentum elementum aliquam
            metus. Amet eleifend sit ac risus pharetra suspendisse accumsan.
            Facilisis eu lacinia augue mi fermentum habitant potenti eget.
            Molestie blandit eu molestie vestibulum vestibulum tempor aliquet.
          </p>
          <div class="reviews__splide-box">
            <div class="reviews__splide-content">
              <div class="reviews__splide-img">
                <img src="./img/icon/ph-image.svg" alt="" class="cover" />
              </div>
              <div class="reviews__splide-info">
                <p class="reviews__splide-name">Name Surname</p>
                <p class="reviews__splide-comp">CEO Company Name</p>
              </div>
            </div>

            <div class="reviews-arrows">
              <button type="button" class="reviews-arrow reviews-prev">
                <img src="./img/icon/left.svg" alt="" />
              </button>
              <span>1/3</span>
              <button type="button" class="reviews-arrow reviews-next">
                <img src="./img/icon/right.svg" alt="" />
              </button>
            </div>
          </div>
        </li>

        <li class="reviews__item splide__slide">
          <p class="reviews__splide-text text">
            Pretium phasellus commodo suscipit aenean. Interdum vulputate amet
            in sit. Imperdiet vel tristique aenean fermentum elementum aliquam
            metus. Amet eleifend sit ac risus pharetra suspendisse accumsan.
            Facilisis eu lacinia augue mi fermentum habitant potenti eget.
            Molestie blandit eu molestie vestibulum vestibulum tempor aliquet.
          </p>
          <div class="reviews__splide-box">
            <div class="reviews__splide-content">
              <div class="reviews__splide-img">
                <img src="./img/icon/ph-image.svg" alt="" class="cover" />
              </div>
              <div class="reviews__splide-info">
                <p class="reviews__splide-name">Name Surname</p>
                <p class="reviews__splide-comp">CEO Company Name</p>
              </div>
            </div>

            <div class="reviews-arrows">
              <button type="button" class="reviews-arrow reviews-prev">
                <img src="./img/icon/left.svg" alt="" />
              </button>
              <span>2/3</span>
              <button type="button" class="reviews-arrow reviews-next">
                <img src="./img/icon/right.svg" alt="" />
              </button>
            </div>
          </div>
        </li>

        <li class="reviews__item splide__slide">
          <p class="reviews__splide-text text">
            Pretium phasellus commodo suscipit aenean. Interdum vulputate amet
            in sit. Imperdiet vel tristique aenean fermentum elementum aliquam
            metus. Amet eleifend sit ac risus pharetra suspendisse accumsan.
            Facilisis eu lacinia augue mi fermentum habitant potenti eget.
            Molestie blandit eu molestie vestibulum vestibulum tempor aliquet.
          </p>
          <div class="reviews__splide-box">
            <div class="reviews__splide-content">
              <div class="reviews__splide-img">
                <img src="./img/icon/ph-image.svg" alt="" class="cover" />
              </div>
              <div class="reviews__splide-info">
                <p class="reviews__splide-name">Name Surname</p>
                <p class="reviews__splide-comp">CEO Company Name</p>
              </div>
            </div>

            <div class="reviews-arrows">
              <button type="button" class="reviews-arrow reviews-prev">
                <img src="./img/icon/left.svg" alt="" />
              </button>
              <span>3/3</span>
              <button type="button" class="reviews-arrow reviews-next">
                <img src="./img/icon/right.svg" alt="" />
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="reviews-arrows">
      <button type="button" class="reviews-arrow reviews-prev">
        <img src="./img/icon/left.svg" alt="" />
      </button>
      <span class="index-page">1/3</span>
      <button type="button" class="reviews-arrow reviews-next">
        <img src="./img/icon/right.svg" alt="" />
      </button>
    </div>
  </div>
</section>
