<section class="services body-wrapp">
  <div class="container">
    <div class="services__body">
      <div class="services__info sectuon-info">
        <h2 class="services__tilte sub-title">Наші послуги</h2>
        <p class="services__text sectuon-info__text text">
          У <b>Fleximp Analytics</b> ми пропонуємо широкий спектр послуг,
          спрямованих на забезпечення успіху вашого бізнесу в цифровому
          просторі. Наші послуги включають:
        </p>
      </div>
      <div class="services__wrapp">
        <div class="services__img-wrapp">
          <img src="./img/services/1.jpg" alt="" class="cover" />
        </div>
        <div class="services__content">
          <ul class="services__list accordion-container">
            <li class="services__item ac" data-src="./img/services/1.jpg">
              <div class="ac-trigger">
                <span>01</span>
                <div class="services__box">
                  <h3>Розробка веб-сайтів</h3>
                  <div class="services__panel">
                    <p class="ac-panel text">
                      Наш підхід до веб розробки відзначається індивідуальним
                      підходом до потреб наших клієнтів. Ми спеціалізуємося на
                      функціональності та зручності, надаючи ефективні рішення
                      для підвищення продуктивності та сприяння бізнес-процесам.
                    </p>
                  </div>
                </div>
                <img src="./img/icon/right.svg" alt="" />
              </div>
            </li>
            <li class="services__item ac" data-src="./img/services/2.jpg">
              <div class="ac-trigger">
                <span>02</span>
                <div class="services__box">
                  <h3>Діджитал маркетинг</h3>
                  <div class="services__panel">
                    <p class="ac-panel text">
                      Наші експерти розробляють інтегровані стратегії, що
                      охоплюють усі аспекти діджитал маркетингу, включно з SEO,
                      PPC та інше. Ми допомагаємо вам залучати цільову
                      аудиторію.
                    </p>
                  </div>
                </div>
                <img src="./img/icon/right.svg" alt="" />
              </div>
            </li>
            <li class="services__item ac" data-src="./img/services/3.jpg">
              <div class="ac-trigger">
                <span>03</span>
                <div class="services__box">
                  <h3>Бізнес-аналітика (BI)</h3>
                  <div class="services__panel">
                    <p class="ac-panel text">
                      Наші експерти з аналітики допомагають вам отримати цінні
                      дані з різних джерел, проаналізувати їх та зробити
                      обґрунтовані рішення. Ми реалізуємо потужні
                      BI-інструменти, які дають змогу глибше розуміти ваш бізнес
                      та досягати максимального успіху.
                    </p>
                  </div>
                </div>
                <img src="./img/icon/right.svg" alt="" />
              </div>
            </li>
            <li class="services__item ac" data-src="./img/services/4.jpg">
              <div class="ac-trigger">
                <span>04</span>
                <div class="services__box">
                  <h3>Консалтинг</h3>
                  <div class="services__panel">
                    <p class="ac-panel text">
                      Наші спеціалісти пропонують індивідуальні рішення та
                      стратегії, що відповідають вашим унікальним потребам. Ми
                      надаємо експертну підтримку в усіх аспектах цифрової
                      трансформації вашого бізнесу. Одна з переваг компанії
                      Fleximp — це глибока експертиза фармацевтичного ринку.
                    </p>
                  </div>
                </div>
                <img src="./img/icon/right.svg" alt="" />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
