<section class="utility">
  <div class="container">
    <div class="utility__body">
      <div class="utility__img">
        <img src="./img/content/utility.png" alt="Images" />
      </div>

      <div class="utility__content">
        <p class="utility__subtitle dec-subtitle">Uses Cases</p>
        <h2 class="utility__title title-def">Utility</h2>
        <p class="utility__text text-sec">
          Through staking, collateral lock-up, and burning, we are committed to
          building a sustainable economic ecosystem for all stakeholders.
        </p>

        <ul class="utility__list">
          <li class="utility__item">
            <p class="text-sec">
              <b>Staking:</b> Users are incentivized to stake AION to secure the
              network
            </p>
          </li>
          <li class="utility__item">
            <p class="text-sec">
              <b>Collateral:</b> Synthetic stocks are bootstrapped with locked
              AION
            </p>
          </li>
          <li class="utility__item">
            <p class="text-sec">
              <b>Fees:</b> Trading fees and liquidiation fees are used to buy
              and burn AION
            </p>
          </li>
        </ul>

        <a href="#" class="utility__btn btn-def">Get Started</a>
      </div>
    </div>
  </div>
</section>
