.about {
	background-color: #eff4ff;

	&__body {
		display: flex;
		justify-content: space-between;
	}
	&__content {
	}
	&__title {
		margin-bottom: 1rem;
	}
	&__text-box {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		width: 41.375rem; 
		margin-bottom: 3.12rem;
		line-height: 1.75rem;
		font-size: 1.25rem;
		color: rgba(0, 0, 40, 0.7);
	}
	&__text {
		color: rgba(0, 0, 40, 0.7);
	}
	&__link {
		img {
			width: 1.5rem;
			height: 1.5rem;
		}
		&:hover img {
			filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
				brightness(100%) contrast(100%);
		}
	}
	&__list {
		display: grid;
		gap: 1.25rem;
		grid-template-rows: repeat(2, 13.5rem);
		grid-template-columns: repeat(2, 15.9375rem);
	}
	&__item {
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.cart {
	overflow: hidden;
	position: relative;
	&:hover &__box {
		transform: translateY(0);
	}

	&__number {
		position: absolute;
		top: 1.25rem;
		left: 1.25rem;
		color: #91b3fa;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.8rem;
		opacity: 0.2;
	}
	&__title {
		color: #4b6db4;
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 1.5rem;
		width: 9.75rem;
		text-align: center;
	}
	&__box {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 1.25rem;
		background: #91b3fa;
		transform: translateY(100%);
		transition: 150ms all;
	}
	&__text {
		color: rgba(255, 255, 255, 0.8);
		line-height: 1.2rem;
	}
}
.title-box {
	color: #fff;
	font-size: 1.25rem;
	line-height: 1.5rem;
	font-weight: 500;
	margin-bottom: 0.75rem;
}

@media screen and (max-width: 960px) {
	.about {
		&__body {
			justify-content: start;
			flex-direction: column;
			gap: 1.875rem;
		}
		&__title {
			margin-bottom: 0.75rem;
		}
		&__text-box {
			gap: 0.5rem;
			width: 100%;
			margin-bottom: 1.875rem;
		}
		&__link {
			width: auto;
			margin: 0 10rem;
		}
		&__list {
			gap: 1rem;
			grid-template-rows: repeat(2, 1fr);
			grid-template-columns: repeat(2, 1fr);
		}
		&__item {
			padding-top: 80%;
			width: 100%;
		}
	}

	.cart {
		&__title {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}
}
@media screen and (max-width: 680px) {
	.about {
		&__link {
			margin: 0;
			img {
				display: none;
			}
		}
		&__item {
			padding-top: 110%;
			width: 100%;
		}
	}
	.cart {
		&__number {
			top: 0.75rem;
			left: 0.75rem;
			font-size: 1.125rem;
			line-height: 1.575rem;
		}
		&__title {
			font-size: 1rem;
			line-height: 1.4rem;
			width: 8.5rem;
		}
		&__box {
			padding: 0.75rem;
		}
		&__text {
			font-size: 0.75rem;
			line-height: 0.9rem;
		}
	}
	.title-box {
		font-size: 0.875rem;
		line-height: 1.05rem;
		margin-bottom: 0.25rem;
	}
}
@media screen and (max-width: 500px) {
	.about {
	}
}
