.customers {
	&_title {
		padding-top: 0.3em;
	}
	&__body {
		display: flex;
		justify-content: space-between;
	}
	&__list {
		max-width: 57.813em;
		display: flex;
		flex-wrap: wrap;
		row-gap: 3.125em;
		column-gap: 3.750em;
		align-items: center;
		align-content: center;
	}
	&__item {
		position: relative;
	}
}

@media screen and (max-width: 960px) {
	.customers {
		&_title {
			padding-top: 0;
		}
		&__body {
			flex-direction: column;
			justify-content: start;
			gap: 1.875em;
		}
		&__list {
			gap: 1.25em;
			justify-content: space-between;
		}
		&__item {
			img {
				max-width: 6.500em;
				max-height: 3.313em;
			}
		}
	}
}
@media screen and (max-width: 400px) {
	.customers {
		font-size: .87rem;
	}
}
