.portfolio {
	&__body {
	}
	&__info {
	}
	&__title {
	}
	&__text {
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		margin-bottom: 3.12rem;
	}
	&__item {
		display: flex;
		gap: 1.25rem;
		&:nth-child(odd) {
			flex-direction: row;
		}
		&:nth-child(even) {
			flex-direction: row-reverse;
		}
	}
	&__img-wrapp {
		flex-shrink: 0;
		width: 46.875rem;
		position: relative;
	}
	&__content {
		padding: 3.125rem;
		transition: 150ms all;
		&:hover {
			background-color: #dee8fe;
		}
		h3 {
			font-size: 1.5rem;
			font-weight: 600;
			line-height: 1.8rem;
			margin-bottom: 0.75rem;
		}
		p {
			color: rgba(0, 0, 40, 0.7);
			margin-bottom: 1.88rem;
		}
		a {
			width: fit-content;
			color: #91b3fa;
			font-size: 1.25rem;
			font-weight: 600;
			display: flex;
			line-height: 1.75rem;
			align-items: center;
			gap: 0.75rem;
			transition: 150ms all;
			img {
				width: 1.5rem;
				height: 1.5rem;
				filter: brightness(0) saturate(100%) invert(63%) sepia(72%)
					saturate(624%) hue-rotate(190deg) brightness(103%) contrast(96%);
			}
			&:hover {
				gap: 1.1rem;
			}
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		img {
			width: 1.5rem;
			height: 1.5rem;
		}
		a:hover img {
			filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
				brightness(100%) contrast(100%);
		}
	}
}

@media screen and (max-width: 960px) {
	.portfolio {
		&__list {
			gap: 0;
			margin-bottom: 1.875rem;
		}
		&__item {
			gap: 0;
			&:nth-child(odd) {
				flex-direction: column;
			}
			&:nth-child(even) {
				flex-direction: column;
			}
		}
		&__img-wrapp {
			width: 100%;
			padding-top: 60%;
		}
		&__content {
			padding: 1.25rem;
			&:hover {
				background-color: transparent;
			}
			h3 {
				font-size: 1.125rem;
				line-height: 1.575rem;
				margin-bottom: 0.25rem;
			}
			p {
				margin-bottom: 1rem;
			}
			a {
				font-size: 1.125rem;
				font-weight: 500;
				line-height: 1.575rem;
			}
		}
		&__link {
			margin: 0 10rem;
		}
	}
}
@media screen and (max-width: 680px) {
	.portfolio {
		&__link {
			margin: 0;
		}
	}
}
@media screen and (max-width: 500px) {
	.portfolio {
	}
}
