.questions {
  &__body {
    position: relative;
    padding: 6.06rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__info {
    margin-bottom: 2.5rem;
  }
  &__subtitle {
  }
  &__title {
  }
  &__btn {
  }

  .planet-decor-line {
    position: absolute;
    z-index: -1;
    bottom: 1.5rem;
    right: -3rem;
    width: 32.87631rem;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 960px) {
  .questions {
    &__body {
      padding: 3rem 0 3.5rem 0;
    }
    &__info {
      margin-bottom: 1.8rem;
    }
    &__title {
      font-size: 1.5rem;
    }
    &__btn {
      padding: 0.625rem 1rem;
      font-size: 0.75rem;
    }

    .planet-decor-line {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .questions {
  }
}
