.utility {
  padding: 6.5rem 0;

  &__body {
    position: relative;
    border-radius: 1.25rem;
    background-color: var(--cb3);
    padding: 3.5rem 2.625rem;
    display: flex;
    align-items: center;
    gap: 2.87rem;
  }

  &__img {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 1rem;
    width: 36.5rem;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__content {
  }
  &__info {
    margin-bottom: 1.97rem;
  }
  &__subtitle {
  }
  &__title {
    margin-bottom: 1.5rem;
  }
  &__text {
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 5.3rem;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &::before {
      content: "";
      width: 1.56469rem;
      height: 1.64425rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cg clip-path='url(%23clip0_0_650)'%3E%3Cpath d='M16.3241 8.99019L17.013 9.70219L11.3201 15.4092C11.0449 15.6902 10.6744 15.8462 10.2803 15.8462C9.88626 15.8462 9.51675 15.6902 9.23765 15.4072L6.4978 12.7052L7.18178 11.9872L9.92655 14.6942C10.1231 14.8932 10.4415 14.8892 10.6263 14.6992L16.3231 8.98919L16.3241 8.99019ZM23.276 14.1092L18.9077 22.4712C18.4635 23.3192 17.6027 23.8462 16.6612 23.8462H6.94494C6.00447 23.8462 5.14556 23.3212 4.70136 22.4752L0.311502 14.1182C-0.105177 13.3252 -0.105177 12.3772 0.311502 11.5832L4.70136 3.21819C5.14556 2.37119 6.00545 1.84619 6.94592 1.84619H16.6622C17.6036 1.84619 18.4645 2.37319 18.9087 3.22119L23.277 11.5832C23.6897 12.3742 23.6897 13.3172 23.277 14.1082L23.276 14.1092ZM22.4082 12.0532L18.04 3.69219C17.7668 3.17119 17.2391 2.84619 16.6612 2.84619H6.94494C6.36808 2.84619 5.84035 3.16919 5.56715 3.68919L1.17827 12.0542C0.916864 12.5532 0.916864 13.1482 1.17827 13.6472L5.56715 22.0032C5.84035 22.5232 6.36808 22.8462 6.94396 22.8462H16.6602C17.2381 22.8462 17.7658 22.5222 18.039 22.0002L22.4072 13.6402C22.6667 13.1432 22.6677 12.5502 22.4082 12.0532Z' fill='%2300ADEE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_0_650'%3E%3Crect width='23.5856' height='24' fill='white' transform='translate(0 0.846191)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
  &__btn-wrapp {
  }
  &__btn {
  }

  .planet-decor-min {
    position: absolute;
    z-index: -1;
    bottom: -7.2rem;
    left: 28.3rem;
    width: 2.5rem;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 960px) {
  .utility {
    padding: 3.95rem 0;
    background-color: var(--cb3);

    &__body {
      border-radius: 0;
      padding: 0;
      background-color: transparent;
      flex-direction: column;
      align-items: center;
      gap: 2.5rem;
    }

    &__img {
      width: 100%;
      max-width: 30rem;
    }

    &__info {
      margin-bottom: 1.88rem;
    }

    &__list {
      gap: 1.88rem;
      margin-bottom: 2.44rem;
    }

    .planet-decor-min {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .utility {
  }
}
