<section class="account">
  <div class="container">
    <div class="account__body">
      <div class="account__data">
        <div class="account__info">
          <div class="account__logo">
            <img src="./img/account/logo1.svg" alt="Bionorica" />
          </div>
          <div class="account__name">Bionorica Moldova</div>
        </div>
        <div class="account__out-wrapp">
          <a href="#" class="account__out">Log Out</a>
        </div>
      </div>

      <div class="account__part">
        <h2 class="account__title">ODOO</h2>
        <ul class="account__list">
          <li class="account__item"><a href="#">ODOO Bionorica Moldova</a></li>
        </ul>
      </div>
      <div class="account__part">
        <h2 class="account__title">DASHBOARDS</h2>
        <ul class="account__list">
          <li class="account__item"><a href="#">Total Graphics MD</a></li>
          <li class="account__item"><a href="#">TOP Sales MD</a></li>
          <li class="account__item"><a href="#">YTD Report MD</a></li>
          <li class="account__item"><a href="#">Stock WH MD</a></li>
          <li class="account__item"><a href="#">YTD Marketing MD</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
