.vacancies {
	&__body {
	}
	&__wrapp {
		margin-top: 3.12rem;
		display: flex;
		justify-content: space-between;
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 3.12rem;
		width: 41.875rem;
	}
	&__title {
		margin-bottom: 1rem;
		color: #91b3fa;
	}
	&__text {
	}
	&__box {
	}
	&__subtitle {
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.8rem;
		margin-bottom: 0.75rem;
	}
	&__list {
	}
	&__item {
		line-height: 1.4rem;
	}
	&__form {
		align-self: start;
		display: flex;
		width: 34.375rem;
		padding: 5rem 3.75rem;
		flex-direction: column;
		gap: 2.5rem;
		background-color: #dee8fe;
		h3 {
			margin: 0;
			font-weight: 600;
		}
	}
	&__label {
	}
	&__input {
		font-family: inherit;
		padding: 0;
		font-size: 1.25rem;
		line-height: 1.75rem;
		width: 100%;
		background-color: transparent;
		border-bottom: 1px solid #000028;
		padding-bottom: 0.75rem;
		&::placeholder {
			color: rgba(0, 0, 40, 0.4);
		}
	}
	input[type="file"] {
		display: none;
	}
	&__file {
		width: 100%;
		background-color: transparent;
		padding-bottom: 0.75rem;
		border-bottom: 1px solid #000028;
		position: relative;
		cursor: pointer;
		&:hover .fileuploadCont .uploadBtn::after {
			background-color: #6991e8;
		}
	}
	&__btn {
	}
	.input-file {
	}
}

.fileuploadCont {
	padding: 0 !important;

	&.changed {
		.uploadBtn {
			display: none;
		}

		.removeBtn {
			display: block;
			color: #000;
		}
	}

	button {
		padding: 0;
		padding-right: 4em;
		font-size: 1.25rem;
		line-height: 1.75rem;
		color: rgba(0, 0, 40, 0.4);
		font-family: inherit;
		width: 100%;
		height: 100%;
		background-color: transparent;
		position: relative;
		text-align: left;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;

		&::after {
			content: "";
			position: absolute;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			right: 0;
			top: 0;
			background-color: #91b3fa;
			width: 1.5625rem;
			height: 1.5625rem;
			transition: 150ms all;
		}
	}

	.uploadBtn {
		display: block;
		&::after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' width='800px' height='800px' viewBox='0 0 1024 1024'%3E%3Cpath d='M486 691h52V538h153v-52H538V333h-52v153H333v52h153z'/%3E%3C/svg%3E");
		}
	}

	.removeBtn {
		display: none;

		&::after {
			background-color: transparent;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9393 12L6.9696 15.9697L8.03026 17.0304L12 13.0607L15.9697 17.0304L17.0304 15.9697L13.0607 12L17.0303 8.03039L15.9696 6.96973L12 10.9393L8.03038 6.96973L6.96972 8.03039L10.9393 12Z' fill='red'/%3E%3C/svg%3E");
		}
	}
}

@media screen and (max-width: 960px) {
	.vacancies {
		&__wrapp {
			flex-direction: column;
			margin-top: 1.88rem;
			align-items: center;
			justify-content: start;
		}
		&__content {
			gap: 1.25rem;
			width: 100%;
			margin-bottom: 1.88rem;
		}
		&__title {
			margin-bottom: 0.75rem;
		}
		&__subtitle {
			font-size: 1.125rem;
			line-height: 1.575rem;
			margin-bottom: 0.75rem;
		}
		&__form {
			width: 100%;
			padding: 1.875rem;
			gap: 1.875rem;
			h3 {
				margin: 0;
				font-size: 1.5rem;
				line-height: 1.8rem;
			}
		}
		&__btn {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
@media screen and (max-width: 680px) {
	.vacancies {
	}
}
@media screen and (max-width: 500px) {
	.vacancies {
	}
}
